<div class="position-relative">
    <button class="btn-navigation" (click)="openNavigation()">
        <span class="fas fa-bars btn-navigation__icon"></span>
        <span>{{ store?.type == 'restaurant' ? 'Menu': 'Catalogue'}}</span>
    </button>
    <button class="btn btn-store float-right border-0" (click)="navigateToStore()">Go To Store</button>
    <div class="menu-navigation" [class.menu-navigation__open]="isNavigationOpened">
        <span class="fas fa-times menu-navigation__closed" (click)="closeNavigation()"></span>
        <h5 class="menu-navigation-title">Menu</h5>
        <ul class="menu-navigation-list list-unstyled mb-0" *ngIf="!isEditing; else noCategoryAvailableTemplate">
            <li class="menu-navigation-item" [class.selected]="selectedCategory == 'all'" (click)="getItemsByCategoryId('all')">
                All
            </li>
            <li class="menu-navigation-item" *ngIf="newItems?.length" [class.selected]="selectedCategory == 'new'" (click)="getItemsByCategoryId('new')">
                New
            </li>
            <li class="menu-navigation-item" *ngIf="discountItems?.length" [class.selected]="selectedCategory == 'discount'" (click)="getItemsByCategoryId('discount')">
                Discount
            </li>
            <li class="menu-navigation-item" *ngIf="todaySpecialItems?.length" [class.selected]="selectedCategory == 'todayspecial'" (click)="getItemsByCategoryId('todayspecial')">
                Today Special
            </li>
            <li class="menu-navigation-item" [class.selected]="selectedCategory == category?._id" *ngFor="let category of categories" (click)="getItemsByCategoryId(category?._id)">
                {{ category.name }}
            </li>
        </ul>
    </div>
    <div class="quick-menu-container position-relative my-2 px-2" *ngIf="store?.menuImages?.length > 0 || isEditing">
        <div *ngIf="menuImages?.length > 0">
            <swiper *ngIf="menuImages?.length" [config]="{slidesPerView: 'auto', spaceBetween: 5, pagination: false, navigation: false, autoHeight: true}">
                <ng-container>
                    <div class="swiper-slide d-inline-block" style="border-radius: 5px" *ngFor="let image of menuImages; let i = index">
                        <img class="swiper-container__image" [src]="image" alt="upload-image" (click)="openQuickMenu(i)"/>
                    </div>
                </ng-container>
            </swiper>
        </div>
        <div class="quick-menu-container__empty" *ngIf="!menuImages?.length"></div>
        <button *ngIf="isEditing" class="btn btn-sm btn-controller position-absolute" style="right: 1rem; top: 1rem; z-index: 99" (click)="onEditQuickMenuClicked.emit($event)">
            <span class="fas fa-edit mr-2 d-inline-block"></span>Edit
        </button>
    </div>
    <div *ngIf="isQuickMenuOpened" class="quick-menu-fullscreen-container position-fixed">
        <span class="quick-menu-fullscreen__icon fas fa-times" (click)="isQuickMenuOpened = false"></span>
        <swiper [index]="selectedQuickMenuIndex" [config]="{slidesPerView: 'auto', spaceBetween: 10, navigation: false, centeredSlides: true, direction: 'horizontal', mousewheel: true}">
            <ng-container *ngIf="menuImages.length">
                <ng-container *ngFor="let image of menuImages">
                    <img class="swiper-slide swiper-container__image center" [src]="image" alt="upload-image" />
                </ng-container>
            </ng-container>
        </swiper>
    </div>
    <div *ngIf="items?.length && !itemLoading.isRunning(); else loadingTemplate" class="w-100 pb-3">
        <list-item [item]="item" class="px-1" *ngFor="let item of items"></list-item>
    </div>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="itemLoading.isRunning(); else noItemTemplate" class="text-center d-block w-100" [borderWidth]="1" [spinnerColor]="'#b71c1c'" style="padding-top: 30vh"></ws-spinner>
</ng-template>

<ng-template #noItemTemplate>
    <ng-container *ngIf="!isEditing; else noItemAvailableTemplate">
        <h6 class="text-center py-5">Item is not found!</h6>
    </ng-container>
</ng-template>
<ng-template #noItemAvailableTemplate>
    <h6 class="text-center py-5">Item is unavailable!</h6>
</ng-template>

<ng-template #noCategoryAvailableTemplate>
    <h6 class="text-center py-5">{{store?.type == 'restaurant' ? 'Menu': 'Catalogue'}} is unavailable!</h6>
</ng-template>