.page{
    background: #fff;
    border-radius: 30px;
    padding: 1.25rem 1rem .25rem 1rem;
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    transition: transform ease .2s;
    cursor: pointer;

    .page__favorite-icon.fa-heart{
        color: #fff;
        position: absolute;
        font-size: 1.5rem;
        left: 1rem;
        top: 1rem;
        filter: drop-shadow(0 0 1px #888);
        &.selected{
            color: rgba(255, 0, 0, .5);
        }
    }
    .page__remove-icon.fa-times{
        font-size: 1.2rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #ccc;
        transition: transform ease .2s, color ease .2s;
        display: none;

        &:hover {
            transform: scale(1.05);
            color: #000;
        }
    }
    .page__image{
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        width: 165px;
        height: 165px;
        overflow: hidden;
        user-select: none;
        img {
            outline: none;
        }
    }
    .page__name{
        font-size: .9rem;
        height: 42px;
        overflow-wrap: break-word;
        -webkit-line-clamp: 2;
        overflow: hidden;
        padding-left: .5rem;
        padding-right: .5rem;
        user-select: none;
        outline: none;
    }
    &:hover {
        transform: scale(1.05);
        .page__remove-icon.fa-times {
            display: block;
        }
    }
}

@media(max-width:768px) {
    :host{
        width: calc(50vw - 1rem);
        .page{
            .page__image {
                width: calc(50vw - 90px);
                height: calc(50vw - 90px);
            }

            .page__remove-icon.fa-times{
                 display: block;
            }
        }
    }
}
@media(max-width:425px) {
    :host{
        width: calc(50vw - 1rem);
        .page{
            padding: 1.25rem 0rem 0.25rem 0rem;
            .page__image {
                width: calc(50vw - 55px);
                height: calc(50vw - 55px);
            }
        }
    }
}