<div class="container py-4">
    <div class="col-lg-8 center p-0" *ngIf="item && !loading.isRunning(); else loadingTemplate">
        <div class="alert alert-danger mb-3" *ngIf="item?.paidAt && item?.status == 'new'">Your payslip was rejected! Please upload again!</div>
        <div class="mb-3" *ngIf="item?.defaultSetting?.invoice?.isPublicReceivable && item?.store?.bankDetails && (item?.status == 'public_new' || item?.status == 'new');">
            <h5 class="d-inline-block mt-3">Bank Details</h5>
            <div class="p-3 font-9" style="box-shadow: 0 3px 6px rgba(0,0,0,.16)">
                <p class="mb-0 text-muted">Kindly bank-in to the details below to complete your order.</p>
                <div class="row no-gutters py-2">
                    <td class="font-weight-bold col-lg-auto align-text-top" style="min-width: 140px">Bank Name:</td>
                    <td class="col-lg align-text-top">{{PaymentMethodEnum[item?.store?.bankDetails?.bankName]}}</td>
                </div>
                <div class="row no-gutters py-2">
                    <td class="font-weight-bold col-lg-auto align-text-top" style="min-width: 140px">Account Name:</td>
                    <td class="col-lg align-text-top">{{item?.store?.bankDetails?.accountName}}</td>
                </div>
                <div class="row no-gutters py-2">
                    <td class="font-weight-bold col-lg-auto align-text-top" style="min-width: 140px">Account No:</td>
                    <td class="col-lg align-text-top">{{item?.store?.bankDetails?.accountNo}}</td>
                </div>
            </div>
            <p class="text-muted font-9 text-danger mt-2" *ngIf="item?.status == 'public_new'">Invoice will be removed permanently if not save or continue proceed.</p>
        </div>
        <div *ngIf="!item?.defaultSetting?.invoice?.isPublicReceivable || !item?.store?.bankDetails">
            <div class="alert alert-warning" style="box-shadow: 0 3px 6px rgba(0,0,0,.16)">
                This store stops selling to public currently.
            </div>
        </div>
        <div *ngIf="item?.status == 'wait_for_approval' && item?.defaultSetting?.invoice?.isApprovalEnabled" class="mb-3">
            <div class="p-3 py-4 text-center font-weight-bold" style="box-shadow: 0 3px 6px rgba(0,0,0,.16)">
                Wait for the confirmation from seller...
                <p class="mb-0 font-weight-normal font-9">Seller will update the delivery fee..</p>
            </div>
            <p class="font-8 text-danger my-2">* Kindly save the order to avoid lost tracking.</p>
            <div class="row no-gutters justify-content-center mt-3 mb-3">
                <button class="btn btn-save" (click)="isSaved ? unsaveInvoice(): saveInvoice()">
                    <span class="mr-1" [ngClass]="isSaved? 'is_saved fas fa-star' : 'far fa-star'"></span>Save To Track Later
                </button>
            </div>
        </div>
        <div *ngIf="item?.status == 'rejected'" class="mb-3">
            <div class="p-3 py-4" style="box-shadow: 0 3px 6px rgba(0,0,0,.16)">
                <span class="text-center font-weight-bold">Your order has been <span class="text-danger">rejected</span> by seller.</span>
                <div class="font-9" *ngIf="item?.reason">Reason: <span>{{item?.reason}}</span></div>
            </div>
            <div class="row no-gutters justify-content-center mt-3 mb-3">
                <button class="btn btn-save mr-3" (click)="navigateToEditInvoice()">
                    Edit Invoice
                </button>
                <button class="btn btn-save" (click)="isSaved ? unsaveInvoice(): saveInvoice()">
                    <span class="mr-1" [ngClass]="isSaved? 'is_saved fas fa-star' : 'far fa-star'"></span>Save To Track Later
                </button>
            </div>
        </div>
        <div *ngIf="item?.defaultSetting?.invoice?.isPublicReceivable && ((item?.status === 'wait_for_approval' && !item?.defaultSetting?.invoice?.isApprovalEnabled) || item.status === 'new' || item.status == 'public_new')" class="row no-gutters justify-content-center">
            <div class="mb-3 mr-lg-3 mr-2">
                <button class="btn btn-upload w-100" [disabled]="uploadLoading.isRunning()" onclick="document.getElementById('updatePayslipInput').click()">Upload Payslip</button>
                <ws-uploader [id]="'updatePayslipInput'" [max]="1"
                        [input]="uploadingFiles"
                        (output)="fileChangeEvent($event)"></ws-uploader>
            </div>
            <div class="mb-3" >
                <button class="btn btn-save" (click)="isSaved ? unsaveInvoice(): saveInvoice()">
                    <span class="mr-1" [ngClass]="isSaved? 'is_saved fas fa-star': 'far fa-star'"></span>Save To Upload Later
                </button>
            </div>
            <div *ngIf="previewLoading.isRunning() || uploadingFiles?.length" class="uploaded-invoice-overlay">
                <div class="center col-lg-5 justify-content-center h-100">
                    <h5 class="font-weight-normal mb-0">Image preview:</h5>
                    <ws-spinner *ngIf="previewLoading.isRunning()" class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
                    <div *ngIf="!previewLoading.isRunning()">
                        <div class="d-flex align-items-center py-3" style="height: 80vh">
                            <img class="uploading-image center h-100" [src]="uploadingImage" alt="uploading-image" />
                        </div>
                        <div class="row no-gutters mb-3">
                            <div class="col-lg-6 p-1">
                                <button [disabled]="uploadLoading.isRunning()" class="btn btn-receipt" (click)="uploadPayslip()">
                                    <ws-spinner class="mr-2" *ngIf="uploadLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
                            </div>
                            <div class="col-lg-6 p-1">
                                <button [disabled]="uploadLoading.isRunning()" class="btn btn-receipt" (click)="cancelUploading()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ws-invoice [item]="item"
                    [isSaveEnabled]="true"
                    [isSaved]="isSaved"
                    [save]="saveInvoice.bind(this)"
                    [unsave]="unsaveInvoice.bind(this)"
                    [showDeliveryDetails]="true"
                    [isPublic]="true"
                    [showStatusDetails]="item.status !== 'new' &&
                                            item.status !== 'public_new' &&
                                            item.status !== 'wait_for_approval' &&
                                            item.status !== 'rejected'">
        </ws-invoice>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noReceipt">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>

<ng-template #noReceipt>
    <div class="text-center w-100">
        <h6 class="py-5">Order/Receipt cannot be found!</h6>
    </div>
</ng-template>