<div class="container py-4">
    <div class="col-lg-8 center p-0" *ngIf="item && !loading.isRunning(); else loadingTemplate">
        <p class="text-center mb-2">You are able to track your order here!</p>
        <div class="alert alert-danger mb-3" *ngIf="item?.isPaid && item?.status == 'new'">Your payslip was rejected! Please upload again!</div>
        <ws-invoice [item]="item" [showDeliveryDetails]="item.status !== 'new'" [isPublic]="true" [showStatusDetails]="item.status !== 'new'"></ws-invoice>
        <div *ngIf="item.status === 'new'" class="row no-gutters justify-content-center">
            <div class="mb-3 mr-lg-3 col-lg-5">
                <button class="btn btn-receipt" [disabled]="uploadLoading.isRunning()" onclick="document.getElementById('updatePayslipInput').click()">Upload Payslip</button>
                <ws-uploader [id]="'updatePayslipInput'" [max]="1"
                        [input]="uploadingFiles"
                        (output)="fileChangeEvent($event)"></ws-uploader>
            </div>
            <div *ngIf="previewLoading.isRunning() || uploadingFiles?.length" class="uploaded-invoice-overlay">
                <div class="center col-lg-5 justify-content-center">
                    <h6 class="font-weight-normal mb-3">Image preview:</h6>
                    <ws-spinner *ngIf="previewLoading.isRunning()" class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
                    <div *ngIf="!previewLoading.isRunning()">
                        <img class="mb-3 uploading-image w-100" [src]="uploadingImage" alt="uploading-image" />
                        <div class="row no-gutters">
                            <div class="col-lg-6 p-1">
                                <button [disabled]="uploadLoading.isRunning()" class="btn btn-receipt" (click)="uploadPayslip()">
                                    <ws-spinner class="mr-2" *ngIf="uploadLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
                            </div>
                            <div class="col-lg-6 p-1">
                                <button [disabled]="uploadLoading.isRunning()" class="btn btn-receipt" (click)="cancelUploading()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noReceipt">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>

<ng-template #noReceipt>
    <div class="text-center w-100">
        <h6 class="py-5">Order/Receipt cannot be found!</h6>
    </div>
</ng-template>