$ws-color:(white: #fff,
  clear: #fff,
  black: #000,
  dark: #000,
  darker-grey:#6f737a,
  dark-grey:#888,
  darken-grey: #666,
  muted: #6c757d,
  grey: grey,
  light-grey-1: #ccc,
  light-grey-2: #e6e6e6,
  light-grey-3: #f4f5f7,
  light-grey-4:#f7f7f7,
  offer: #e58341,
  new: gold,
  main:#4169e1,
  main-hover: #2452dc,
  border: #ced4da,
  primary: gold,
  main-hover-effect: rgba(153, 0, 0, 0),
  main-hovered-effect: #1c41b1,
  secondary:#282C35,
  secondary-hover: #4d5466);

$ws-style:(box-shadow: 0px 0px 5px map-get($ws-color, light-grey-1),
  border: 1px solid map-get($ws-color, border),
  checked: 3px solid map-get($ws-color, dark),
  hover-tab: 3px solid map-get($ws-color, main-hover-effect),
  hovered-tab: 3px solid map-get($ws-color, main-hovered-effect),
  selected-tab: 3px solid map-get($ws-color, main));
