.merchant-footer__mobile {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    box-shadow: 0 -1px 5px #ccc;
    flex-direction: row;

    .merchant-footer-icon {
        flex: 1;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.3rem;
        border: 0;
        cursor: pointer;
        color: #222;
        transition: all ease .1s;
        background-color: #fff;

        &.active {
            color: #7f0000;
        }

        &.selected{
            color: gold;
        }
    }
}


.info__container,
.contact__container,
.opening-info__container {
    border-bottom: 1px solid #eee;

    .info__text {
        white-space: pre-wrap;
    }
}

.contact__container {
    .contact__icon {
        width: 40px;
        line-height: 30px;
        height: 30px;
        background-color: #f7f7f7;
        color: #282C35;
        border-radius: 5px;
        text-align: center;
    }

    .contact__detail {
        line-height: 30px;
        display: block;
    }
}

.opening-info__container {
    display: block;

    table {
        font-size: .9rem;

        td:first-child {
            vertical-align: top;
        }
    }
}

.qrcode__container {
    .qrcode {
        width: calc(150px + 2rem);
        height: calc(150px + 2rem);
        background-color: #f7f7f7;
    }
}

.social-media__container {
    .social-media__icon {
        width: 40px;
        line-height: 30px;
        height: 30px;
        background-color: #f7f7f7;
        color: #282C35;
        border-radius: 5px;
        text-align: center;
    }

    .social-media__detail {
        line-height: 30px;
        display: block;
    }
}

.share-media__container {
    .share-media__icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        background-color: #f7f7f7;
        color: #fff;
        text-align: center;
        margin-right: .5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        cursor: pointer;
        display: inline-block;

        &.fb {
            background-color: rgb(59, 89, 152);
        }

        &.twitter {
            background-color: rgb(29, 161, 242);
        }

        &.linkedin {
            background-color: rgb(0, 119, 181);
        }

        &.email {
            background-color: #888;
        }

        transition: opacity .2s ease;

        &:hover {
            opacity: .8;
        }
    }
}