<div *ngIf="isShownSelection" class="merchant__screen">
    <div *ngIf="store" class="merchant__selections">
        <p class="merchant__selection-title">{{ store?.name }}</p>
        <p class="merchant__selection-item" [routerLink]="['info']" [queryParamsHandling]="'merge'" (click)="navigateToDetails()">Store Details</p>
        <p class="merchant__selection-item" [routerLink]="['menu']" [queryParamsHandling]="'merge'" (click)="navigateToItems()">{{ store?.type == 'restaurant' ? 'Menu' : 'Products'}}</p>
    </div>
</div>
<div *ngIf="store && !loading.isRunning(); else loadingTemplate" [hidden]="isShownSelection">
    <div style="display: block; min-height: calc(100vh - 52px)">
        <router-outlet></router-outlet>
    </div>
    <merchant-mobile-footer *ngIf="store && showFooter"></merchant-mobile-footer>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" [borderWidth]="1" [spinnerColor]="'#b71c1c'" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Store is not found!<br/><br/>It might be under maintenance!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>