<div *ngIf="isShownSelection" class="merchant__screen">
    <div *ngIf="store" class="merchant__selections">
        <p class="merchant__selection-title">{{ store?.name }}</p>
        <p class="merchant__selection-item" [routerLink]="['info']" [queryParamsHandling]="'merge'" (click)="navigateToDetails()">Page Details</p>
        <p class="merchant__selection-item" [routerLink]="['menu']" [queryParamsHandling]="'merge'" (click)="navigateToItems()">{{ store?.type == 'restaurant' ? 'Menu' : 'Categories'}}</p>
    </div>
</div>
<div *ngIf="store && !loading.isRunning(); else loadingTemplate" [hidden]="isShownSelection">
    <div *ngIf="preview" #alert class="alert alert-danger alert-dismissible fade show font-8 my-2 w-100" role="alert">
        This is a preview page and will not displayed to public if the store is in unpublished status.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <router-outlet></router-outlet>
    <merchant-footer *ngIf="store && showFooter" [element]="store"></merchant-footer>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Store is not found!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>