
<div class="item-info__profile-container row no-gutters mb-4">
    <div class="item-info__profile"></div>
    <div class="col">
        <div class="item-info__details">
            <div class="row no-gutters">
                <p class="item-info__details__name d-inline-block text-break">Spot Set 2019 New Children's Summer Thin Tops Big Boy Casual Short Sleeve Two-piece Set
                    <span class="item-info__details__new-banner badge badge-danger ml-2">New</span>
                </p>
            </div>
            <p class="item-info__details__price mb-2 d-inline-block">RM 240.00</p><span class="badge badge-warning ml-2" style="font-size: .8rem; vertical-align: text-top;">20%</span>
            <p class="item-info__details__original-price font-weight-bold" style="text-decoration: line-through;">RM 300.00</p>
            <div class="row no-gutters">
                <div class="item-info__item-type mr-3" *ngFor="let itemType of itemTypes">
                    <!-- <img class="" src="" alt="item index"/> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-banner">
    <span class="float-icon far fa-star"></span>
    <span class="float-icon fas fa-share-alt"></span>
    <span class="float-icon fas fa-qrcode"></span>
    <span [routerLink]="['/shop']" class="float-icon fas fa-store"></span>
    <span class="float-icon" style="height: 39px; padding: 5px;"><img style="width: 23px; vertical-align: text-top;" src="assets/images/png/icon.png" alt="logo location" /></span>
</div>
<div class="item-info__container">
    <div class="item-info__description">
        <h4 class="mb-3">Description:</h4>
    </div>
    <div class="item-info__description-image mb-4" *ngFor="let descriptionImage of descriptionImages">
    </div>
</div>
