.item-info__profile-container {
    padding-top: 1.5rem;

    .item-info__profile {
        width: 450px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;

        .item-info__profile-image-container {
            position: relative;
            height: 45px;
            width: 45px;
            display: inline-block;

            .item-info__profile-image {
                border: 1px solid #ccc;
                height: 45px;
                width: 45px;
                object-fit: contain;

                &+.item-info__profile-image__overlay {
                    width: 45px;
                    height: 45px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background-color: rgba(0, 0, 0, .4)
                }
            }
        }
    }

    .item-info__details {
        .item-info__details__new-banner {
            font-size: 1rem;
            margin-top: 3px;
            vertical-align: text-top;
        }

        .item-info__details__name {
            font-size: 1.5rem;
            font-weight: normal;
        }

        .item-info__details__price {
            font-size: 1.7rem;
            margin-bottom: 0;
            font-weight: normal;
            color: orangered;
        }

        .item-info__details__original-price {
            text-decoration: line-through;
            font-size: .9rem;
        }

        .item-info__details__quantity {
            font-size: .9rem;
        }
    }

    .item-info__item-type {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        background-color: #fff;
        transition: transform ease .2s;
        position: relative;
        cursor: pointer;

        .item-info__item-type__overlay {
            width: 45px;
            height: 45px;
            left: 0;
            top: 0;
            border-radius: 5px;
            position: absolute;
            background-color: rgba(0, 0, 0, .4)
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.float-banner {
    position: fixed;
    right: 0px;
    top: calc(10% + 70px);
    border-radius: 5px 0 0 5px;
    background-color: #fff;

    .float-icon {
        font-size: 1.2rem;
        color: #282C35;
        display: block;
        text-align: center;
        padding: 10px;
        transition: all ease .1s;

        &:hover {
            cursor: pointer;
            background-color: #ebecf0;
        }
    }
}

.item-info__container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;

    .item-info__description {}

    .item-info__description-image {
        width: 100%;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media(max-width: 992px) {
  .item-info__profile-container {
    padding-top: 1.5rem;
  
    .item-info__profile {
        width: 300px;
        height: 300px;
    }
  }
}