<div class="home center">
    <div class="container">
        <!-- <div class="home-logo__container">
            <object style="pointer-events: none" type="image/svg+xml" data="assets/images/svg/icon-title.svg" width="300"></object>
        </div>
        <p class="home__label">Find, view and collect your favorite stores</p> -->

        <!-- <div class="col-lg-6 center">
            <div class="searchbar input-group">
                <input name="keyword" class="searchbar__input form-control" placeholder="Search..." [(ngModel)]="keyword" (keydown.enter)="navigationSearch()" />
                <div class="input-group-append">
                    <a class="searchbar__button input-group-text" [routerLink]="['/search']" [queryParams]="{keyword: keyword}">
                        <span class="searchbar__icon fas fa-search"></span>
                    </a>
                </div>
            </div>
        </div> -->
        <!-- <div class="mt-5" *ngIf="false">
            <div class="row no-gutters">
                <div class="offset-sm-3 col-sm-3">
                    <a href="javascript:void(0)"><img class="px-2 w-100" src="assets/images/png/apple-store.png" alt="apple store" /></a>
                </div>
                <div class="col-sm-3">
                    <a href="javascript:void(0)"><img class="px-2 w-100" src="assets/images/png/google-play-badge.png" alt="google play" /></a>
                </div>
            </div>
        </div> -->
        <div class="py-3 row no-gutters justify-content-center">
            <div class="col-auto" style="width: 720px">
                <swiper *ngIf="largeAds.length" [pagination]="{clickable: true}" [loop]="true" [slidesPerView]="1" [navigation]="true" [autoplay]="{running: true, delay: environment.MAX_DELAY_SWIPER_ADS_LARGE_IN_MS}">
                    <ng-template swiperSlide *ngFor="let ads of largeAds">
                        <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="ads"></ws-ads-banner>
                    </ng-template>
                </swiper>
                <div *ngIf="!isMobileSize && !largeAds.length" style="background-color: #fff; width: 720px; height: 240px" >
                    <a [href]="environment.MERCHANT_URL" class="d-block w-100 h-100" target="_black">
                        <img src="/assets/images/png/ads_available_large.png" alt="ads_available_large" />
                    </a>
                </div>
            </div>
            <div class="col-auto" *ngIf="!isMobileSize">
                <ws-ads-banner [isNavigable]="true" [service]="advertisementService" *ngIf="smallAds.length > 0" [item]="smallAds[0]"></ws-ads-banner>
                <ws-ads-banner [isNavigable]="true" [service]="advertisementService" *ngIf="smallAds.length > 1" [item]="smallAds[1]"></ws-ads-banner>
                <div *ngIf="smallAds.length < 1" style="background-color: #fff; width: 360px; height: 120px; border-left: 1px solid #f7f7f7;">
                    <a [href]="environment.MERCHANT_URL" class="d-block w-100" target="_black">
                        <img src="/assets/images/png/ads_available_small.png" style="height:120px" alt="ads_available_small" />
                    </a>
                </div>
                <div *ngIf="smallAds.length < 2" style="background-color: #fff; width: 360px; height: 120px; border-left: 1px solid #f7f7f7; border-top: 1px solid #f7f7f7">
                    <a [href]="environment.MERCHANT_URL" class="d-block w-100" target="_black">
                        <img src="/assets/images/png/ads_available_small.png" style="height:120px" alt="ads_available_small" />
                    </a>
                </div>
            </div>
        </div>
        <div class="px-3" *ngIf="recommendedStores.length">
            <h1 class="h6 d-inline-block mb-0">Recommended Stores:</h1>
            <!-- <a class="float-right font-8" href="javascript:void(0)">View More</a> -->
        </div>
        <div *ngIf="recommendedStores.length && !isMobileSize">
            <swiper class="py-3"
            [slidesPerGroup]="5" [slidesPerView]="5" [navigation]="true" [allowTouchMove]="false">
                <ng-template swiperSlide *ngIf="squareAds.length == 0">
                    <a [href]="environment.MERCHANT_URL" target="_black">
                        <img src="/assets/images/png/ads_available_square.png" class="w-100" alt="ads-available-square" />
                    </a>
                </ng-template>
                <ng-template swiperSlide *ngIf="squareAds.length > 0">
                    <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="squareAds[0]"></ws-ads-banner>
                </ng-template>
                <ng-template swiperSlide *ngFor="let store of recommendedStores">
                    <page [item]="store"></page>
                </ng-template>
            </swiper>
        </div>
        <div class="row no-gutters" *ngIf="recommendedStores.length && isMobileSize">
            <div class="col-6 px-2" *ngFor="let store of recommendedStores">
                <page [item]="store"></page>
            </div>
        </div>
        <div class="mb-3 justify-content-center d-flex" style="margin-left: .65rem; margin-right: .65rem" *ngIf="!isMobileSize && !mediumAds.length">
            <a [href]="environment.MERCHANT_URL" target="_black" class="w-100">
                <img src="/assets/images/png/ads_available_medium.png" class="w-100" alt="ads-available-medium" />
            </a>
            <!-- <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="mediumAds[0]"></ws-ads-banner> -->
        </div>
        <div class="mb-3 justify-content-center d-flex" *ngIf="mediumAds.length > 0">
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="mediumAds[0]"></ws-ads-banner>
        </div>
        <div class="px-2 mb-3 row no-gutters justify-content-center" *ngIf="smallAds.length > 4">
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[2]"></ws-ads-banner>
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[3]"></ws-ads-banner>
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[4]"></ws-ads-banner>
        </div>
        <!-- <div class="px-3">
            <h1 class="h6 d-inline-block">Promotions:</h1> -->
            <!-- <a class="float-right font-8" href="javascript:void(0)">View More</a> -->
        <!-- </div>
        <div>
            <swiper style="height: 530px" [slidesPerGroup]="10" [slidesPerView]="5" [slidesPerColumn]="2" [navigation]="true" [allowTouchMove]="false">
                <ng-template swiperSlide *ngFor="let store of recommendedStores">
                    <page [item]="store"></page>
                </ng-template>
            </swiper>
        </div> -->
        <div class="px-2 mb-3 row no-gutters justify-content-center" *ngIf="smallAds.length > 6">
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[5]"></ws-ads-banner>
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[6]"></ws-ads-banner>
            <ws-ads-banner [isNavigable]="true" [service]="advertisementService" [item]="smallAds[7]"></ws-ads-banner>
        </div>
        <div class="px-3" *ngIf="recommendedProducts.length">
            <h1 class="h6 d-inline-block">Recommended Products:</h1>
            <!-- <a class="float-right font-8" href="javascript:void(0)">View More</a> -->
        </div>
        <div *ngIf="recommendedProducts.length">
            <swiper style="height: 530px" [slidesPerGroup]="10" [slidesPerView]="5" [slidesPerColumn]="2" [navigation]="true" [allowTouchMove]="false">
                <ng-template swiperSlide *ngFor="let store of recommendedProducts">
                    <page [item]="store"></page>
                </ng-template>
            </swiper>
        </div>
    </div>
    <div style="height: 1rem"></div>
</div>
<ws-ads-popout [isNavigable]="true" [service]="advertisementService" [item]="popOutAds[0]" [isModal]="true" [isOpen]="isOpenModal"></ws-ads-popout>
<footer class="pt-3">
    <div></div>
    <div class='container-fluid col-md-8 pt-20 pl-0 pr-0'>
        <div class='row no-gutters'>
            <div class="footer-box-left col-md-4 mb-2" *ngIf="false">
                <div>
                    <a id="facebook" href='https://www.facebook.com/wonderscale/' aria-label="facebook" rel="noopener" target="_blank">
                        <span class="fab fa-facebook-square"></span></a>
                    <!-- <a id="instagram" href='https://www.instagram.com' target="_blank" aria-label="insta" rel="noopener"
              class='ml-3'>
              <span class="fab fa-instagram"></span>
            </a>
            <a id="twitter" href='https://www.twitter.com' target="_blank" aria-label="insta" rel="noopener" class='ml-3'>
              <span class="fab fa-twitter"></span>
            </a> -->
                </div>
            </div>
            <div class="col-md-8 no-gutters row text-center text-lg-left" style="display: flex; align-items: center">
                <span class="col-lg-auto" style="display: flex; align-items: center; justify-content: center">
                    <object style="pointer-events: none" type="image/svg+xml" data="assets/images/svg/icon-title.svg" width="120"></object>
                </span>
                <div class="col-lg mt-lg-0 mt-3">
                    <!-- <span class="col-lg">
                        <a class="font-9 ws-secondary" [routerLink]="['/contact-us']">Contact Us</a>
                    </span>| -->
                    <span class="col-lg">
                        <a class="font-9 ws-secondary" [routerLink]="['/policy']">Policy</a>
                    </span>
                </div>
                <!-- <li class="col">
                <a class="font-9" routerLink="/about-us">About Us</a>
              </li>
              <li *ngIf="false">
                <a routerLink="/help">Help</a>
              </li> -->
            </div>
            <div class="col-md-4 pt-3 footer-box-right" style="font-size: .9rem">
                <!-- <p class="text-md-right text-center ws-white">Wonder Scale &#169;
            <br>Copyright {{year}}. All Rights Reserved.</p> -->
                <div class="fb-like mb-2 float-right" data-href="https://www.facebook.com/wonderscale/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            </div>
        </div>
        <div class="row no-gutters" style="font-size: .9rem">
            <div class="row no-gutters w-100 pt-2 font-9">
                <div class="offset-6 col row no-gutters">
                </div>
            </div>
        </div>
    </div>
</footer>