.favorite__searchbar{
    width: 300px;
    .favorite__searchbar__input{
        background-color: #f7f7f7;
        border: 0;
    }
    .favorite__searchbar__button{
        background-color: #f7f7f7;
        border: 0;
    }
}
.btn-logo{
    width: 38px;
    float: right;
    cursor: pointer;
    transition: transform ease .2s;
    &:hover{
        transform: scale(1.2);
    }
}

.items-container{
    background: #fff;
}

.items-modal-container{
    height: 59.202vh;
    overflow: auto;
}

ul.suggestions {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: .25rem;
    font-size: .8rem;
    overflow: hidden;
    border-radius: .25rem;
    border-top: 1px solid #ced4da;
    li {
        list-style: none;
        padding: .75rem 1rem;
        border: 1px solid #ced4da;
        border-top: none;
        &:hover,
        &.hover {
            background-color: #ebecf0;
            cursor: pointer;
        }
    }
}

@media(max-width:992px) {
    .favorite__container{
        padding: 1rem;
    }
    agm-map{
        height: 77.273vh !important;
    }
}