<div class="saved__container">
  <h3>Your Favorites</h3>
  <div class="saved__searchbar input-group mb-3">
    <input class="saved__searchbar__input form-control" placeholder="Search..." />
    <div class="input-group-append">
      <button class="saved__searchbar__button input-group-text">
        <span class="saved__searchbar__icon fas fa-search"></span>
      </button>
    </div>
  </div>
  <div>
    <button class="btn btn-controller mr-2">Shop</button>
    <button class="btn btn-controller">Item</button>
    <img class="btn-logo" src="assets/images/png/icon.png" alt="logo"/>
  </div>
</div>

<div class="items-container pb-5">
  <div class="row no-gutters mb-4">
    <item [routerLink]="['/item', item._id]" [item]="item" *ngFor="let item of items" class="mb-5"></item>
  </div>
  <div class="mb-5">
    <div class="pagination">
      <div class="pagination__previous">
        <span class="pagination__previous-icon fas fa-chevron-left"></span>
      </div>
      <div class="pagination__next">
        <span class="pagination__next-icon fas fa-chevron-right"></span>
      </div>
    </div>
  </div>
</div>
