.saved__container{
    background-color: #fff;
    padding: 1.5rem;
    .saved__searchbar{
        width: 300px;
        .saved__searchbar__input{
            background-color: #f7f7f7;
            border: 0;
        }
        .saved__searchbar__button{
            background-color: #f7f7f7;
            border: 0;
        }
    }
    .btn-logo{
        width: 45px;
        float: right;
        cursor: pointer;
        transition: transform ease .2s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.items-container{
    background: #fff;
}
.pagination{
    display: block;
    width: fit-content;
    margin: 0 auto;
    .pagination__previous,
    .pagination__next{
        display: inline-block;
        text-align: center;
        width: 44px;
        padding: .5rem;
        border-radius: 5px;
        background-color: #f7f7f7;
        margin: 0 .5rem;
        transition: background-color ease .1s;
        &:hover{
            cursor: pointer;
            background-color: #ebecf0;
        }
    }
}