<div class="menu-item__container">
    <div class="menu-item">
        <div class="row no-gutters clickable" [style.border-bottom]="isShown? '1px solid #ddd': '0'">
            <span class="menu-item__image-container">
                <img *ngIf="images?.length" [src]="environment.IMAGE_URL + images[imageIndex]" class="menu-item__image" alt="profile Image" />
                <img *ngIf="!images?.length" src="/assets/images/png/profileImage.png" class="menu-item__image" alt="item detault profile image" />
                <span *ngIf="images?.length" class="menu-item__image-hint" (click)="isImagesOpened = true">
                    <span class="menu-item__image-hint-icon fas fa-images"></span>
                </span>
                <div *ngIf="isImagesOpened" class="images-fullscreen-container position-fixed pt-2">
                    <span class="images-fullscreen__icon fas fa-times" (click)="isImagesOpened = false"></span>
                    <swiper [index]="selectedImagesIndex" [config]="{slidesPerView: 'auto', spaceBetween: 10, navigation: false, centeredSlides: true, direction: 'horizontal', mousewheel: true}"> 
                        <ng-container class="swiper-slide" *ngFor="let image of images">
                            <img class="w-100 mb-2" style="object-fit: contain;" [src]="environment.IMAGE_URL + image" alt="upload-image" />
                        </ng-container>
                    </swiper>
                </div>
            </span>
            <div class="menu-item__middle col px-2 px-lg-3" (click)="isShown = !isShown">
                <p class="menu-item__text">{{ item?.name }}</p>
                <p class="menu-item__price mb-1"><span class="pr-1">RM</span>{{ item?.price | wsCurrency: 1: 1 }}</p>
                <div class="menu-item__number-cart-item" *ngIf="isAddedToCart">Added</div>
            </div>
        </div>
        <div class="p-3" *ngIf="isShown">
            <div class="mb-2" *ngIf="item?.description">
                <p class="mb-0 text-muted font-8">{{ item?.description }}</p>
                <hr />
            </div>
            <div class="mb-3 h-100 w-100 justify-content-between d-flex align-items-center">
                <p class="menu-item__title d-inline-block mb-0">Quantity</p>
                <div class="menu-item__quantity float-right d-inline-block mx-2">
                    <span class="fas fa-minus font-8 mr-3 clickable" (click)="decrease()"></span>
                    <input class="menu-item__input text-center" [(ngModel)]="quantity" readonly />
                    <span class="fas fa-plus font-8 ml-3 clickable" (click)="increase()"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div *ngIf="item?.types?.length">
                <p class="menu-item__title mb-2">Types</p>
                <mat-radio-group [(ngModel)]="selectedType" class="center d-block ml-3">
                    <!-- <mat-radio-button [color]="'primary'" [checked]="true" class="d-block font-weight-normal font-9" value="">
                        <span class="mr-3">Normal</span></mat-radio-button> -->
                    <mat-radio-button [color]="'primary'" class="d-block font-weight-normal font-9" [value]="type" *ngFor="let type of item?.types">
                        <span class="mr-3">{{ type?.name }}</span><span *ngIf="type?.incrementType !== undefined">({{ type?.incrementType ? '+' : '-' }}) {{ type?.amount | number: '1.2-2' }}</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="mb-3" *ngIf="false">
                <p class="menu-item__title mb-0">Remark</p>
                <textarea class="menu-item__textarea form-control" rows="5" [(ngModel)]="remark"></textarea>
            </div>
            <button [disabled]="item?.types?.length > 0 && !selectedType" class="btn btn-second float-right" (click)="addToCart()">Add To Cart</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>