<!-- <div *ngIf="preview" #alert class="alert alert-danger alert-dismissible fade show font-8 my-2 w-100" role="alert">
    This is a preview page and will not displayed to public if the store is in unpublished status.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div *ngIf="store && !loading.isRunning(); else loadingTemplate">
    <div id="info" class="information-container mb-2" *ngIf="store?.informationImages?.length > 0">
        <swiper [config]="{slidesPerView: 'auto', spaceBetween: 10, pagination: false, navigation: false, autoHeight: true}">
            <div class="swiper-slide d-inline-block" *ngFor="let image of store?.informationImages; let i = index">
                <img class="swiper-container__image" [src]="environment.IMAGE_URL + image" alt="upload-image" (click)="openInformation(i)"/>
            </div>
        </swiper>
    </div>

    <div *ngIf="isInformationOpened" class="information-fullscreen-container position-fixed pt-2">
        <span class="information-fullscreen__icon fas fa-times" (click)="isInformationOpened = false"></span>
        <swiper [index]="selectedInformationIndex" [config]="{slidesPerView: 'auto', spaceBetween: 10, navigation: false, centeredSlides: true, direction: 'vertical', mousewheel: true}"> 
            <ng-container class="swiper-slide" *ngFor="let image of store?.informationImages">
                <img class="w-100 mb-2" style="object-fit: contain;" [src]="environment.IMAGE_URL + image" alt="upload-image" />
            </ng-container>
        </swiper>
    </div>

    

    <div class="row no-gutters merchant mb-2">
        <div class="col-lg order-11 order-lg-1">
            <div class="merchant__profile-container">
                <!-- <img *ngIf="store?.profileImage" class="merchant__profile" [src]="environment.IMAGE_URL + store?.profileImage" alt="profile-image" />
                <img *ngIf="!store?.profileImage" class="merchant__profile" style="background-color: #fff" src="assets/images/png/shop.png" alt="profile-image" /> -->
                <div class="merchant__name-container">
                    <p class="merchant__name text-break">{{ store?.name }}</p>
                    <!-- <p class="merchant__username mb-0">@{{ store?.username }}</p> -->
                </div>
                <div>
                    <p class="merchant__location"><span class="fas fa-map-marker-alt merchant__location-icon mr-2"></span>Bandar Puchong Jaya, Puchong, Selangor, 47170, Malaysia</p>
                    <span class="tag tag-food mr-2">Food</span>
                    <span class="tag tag-price mr-2">RM 2 - 10</span>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-9 merchant-background position-relative order-1 order-lg-12">
            <p *ngIf="!store?.bannerImage" class="merchant__text mb-0">{{store?.name}}</p>
            <img class="merchant-background__banner" *ngIf="store?.bannerImage" [src]="environment.IMAGE_URL + store?.bannerImage" alt="banner" />
        </div> -->
    </div>

    <!-- <div *ngIf="false && newItems?.length" id="new-items" class="new-items-container mb-2">
        <swiper [config]="{breakpoints: {'425': {slidesPerView: 2, spaceBetween: 10, slidesPerGroup: 2}, '768': { slidesPerView: 3, spaceBetween: 10, slidesPerGroup: 3}, '992': {slidesPerView: 4, spaceBetween: 10, slidesPerGroup: 4}}, slidesPerView: 1}">
            <item [item]="item" [index]="i" *ngFor="let item of newItems; let i = index" class="mb-5 item__fit-screen"></item>
        </swiper>
    </div> -->

    <div class="row no-gutters">
        <div class="col-lg order-12 order-lg-1">
            <div class="info__container mb-2" *ngIf="store?.description">
                <h4 class="info__title">Introduction:</h4>
                <p class="info__text mb-0">{{ store?.description }}</p>
            </div>
            <div class="contact__container mb-2 pb-2" *ngIf="(store?.phone?.length + store?.email?.length + store?.website?.length) > 0">
                <h4 class="info__title">
                    Contact:
                </h4>
                <div class="row no-gutters mb-2" *ngIf="store?.phone?.length">
                    <span class="contact__icon fas fa-phone mr-2"></span>
                    <div class="d-inline-block">
                        <span class="contact__detail" *ngFor="let phone of store?.phone">
                            <a target="_blank" href="tel: {{phone}}">{{ phone }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="store?.email?.length">
                    <span class="contact__icon fas fa-envelope mr-2"></span>
                    <div class="d-inline-block">
                        <span class="contact__detail" *ngFor="let email of store?.email">
                            <a target="_blank" href="mailto: {{email}}">{{ email }}</a></span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="store?.website?.length">
                    <span class="contact__icon fas fa-globe mr-2"></span>
                    <div class="d-inline-block">
                        <span class="contact__detail" *ngFor="let website of store?.website">
                            <a target="_blank" href="{{ website }}">{{ website }}</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="social-media__container mb-2" *ngIf="store?.media?.length">
                <h4 class="info__title">
                    Others:
                </h4>
                <div class="row no-gutters" *ngIf="medias?.facebook?.length">
                    <span class="social-media__icon fab fa-facebook-f mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.facebook">
                            <a target="_blank" href="https://www.facebook.com/{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters" *ngIf="medias?.instagram?.length">
                    <span class="social-media__icon fab fa-instagram mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.instagram">
                            <a target="_blank" href="https://www.instagram.com/{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters" *ngIf="medias?.twitter?.length">
                    <span class="social-media__icon fab fa-twitter mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.twitter">
                            <a target="_blank" href="https://mobile.twitter.com/{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters" *ngIf="medias?.whatsapp?.length">
                    <span class="social-media__icon fab fa-whatsapp mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.whatsapp">
                            <a target="_blank" href="https://wa.me/{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.fbmessenger?.length">
                    <span class="social-media__icon fab fa-facebook-messenger mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.fbmessenger">
                            <a target="_blank" href="http://m.me/{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.google?.length">
                    <span class="social-media__icon fab fa-google-plus-g mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.google">
                            <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.youtube?.length">
                    <span class="social-media__icon fab fa-youtube mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.youtube">
                            <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.snapchat?.length">
                    <span class="social-media__icon fab fa-snapchat mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.snapchat">
                            <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.telegram?.length">
                    <span class="social-media__icon fab fa-telegram mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.telegram">
                            <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.weibo?.length">
                    <span class="social-media__icon fab fa-weibo mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.weibo">
                            <a href="{{ media?.value }}">{{ media?.value }}</a>
                        </span>
                    </div>
                </div>
                <div class="row no-gutters mb-2" *ngIf="medias?.wechat?.length">
                    <span class="social-media__icon fab fa-weixin mr-2"></span>
                    <div class="d-inline-block">
                        <span class="social-media__detail" *ngFor="let media of medias?.wechat">
                            <span>{{ media?.value }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="store?.openingInfoType == 'temporary_closed' || store?.openingInfoType == 'always_open' || (store?.openingInfoType == 'selected_hours' && store?.openingInfo != null)" class="opening-info__container mb-2">
                <h4 class="info__title">Opening hour:</h4>
                <table *ngIf="store?.openingInfoType == 'selected_hours'">
                    <tr *ngFor="let day of store?.openingInfo">
                        <td>{{ day.day }}</td>
                        <td><span class="d-block" *ngFor="let time of day.time">{{ time.openingHour }} - {{ time.closeHour}}</span></td>
                    </tr>
                </table>
                <div class="pl-2" *ngIf="store?.openingInfoType == 'temporary_closed'">
                    <span>Temporary Closed</span>
                </div>
                <div class="pl-2" *ngIf="store?.openingInfoType == 'always_open'">
                    <span>Always Open</span>
                </div>
            </div>
            <div class="location__container mb-2" *ngIf="isShownLocation">
                <h4 class="info__title">Find Location:</h4>
                <div class="rounded" style="overflow: hidden">
                    <agm-map class="w-100" style="height: 250px" [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]" [zoom]="14" [gestureHandling]="'greedy'"
                    [mapDraggable]="false" [maxZoom]="17" [minZoom]="11" [streetViewControl]="false" panControl="false" zoomControl="false">
                        <agm-marker [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]"(markerClick)="navigateToMap()"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Store is not found!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>