.merchant {
    .merchant__name-container{
        display: inline-block;

        .merchant__name {
            display: inline-block;
            font-size: 1.5rem;
            margin-bottom: .25rem;
        }
    }

    .merchant__username {
        text-align: center;
        font-size: .9rem;
    }

    .merchant__profile-container {
        position: relative;
        padding: 0rem 1rem;
        background-color: #fff;

        .merchant__profile-image__container {
            position: relative;
            display: inline-block;

            .merchant__profile-image {
                width: 30px;
                height: 30px;
                vertical-align: top;
                border-radius: 50%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.16);
                display: inline-block;
            }
            &:hover{
                .merchant__profile-image__edit {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, .16);
                }
            }

            .merchant__profile-image__edit{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                top: 0;
                left:0;
                opacity: 0;
                cursor: pointer;
                color: #fff;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all ease .1s;
            }
        }

        .merchant__profile-background {
            display: block;
            width: 230px;
            height: 230px;
        }
    }
    
    .btn-contact{
        background-color: #b71c1c;
        color: #fff;
        border-radius: 25px;
        padding: .5rem 2rem;

        .merchant__message-text-icon{
            transition: all ease .2s;
        }
        
        &:hover{
            .merchant__message-text-icon {
                transform: scale(1.2);
            }
        }
    }

    .btn-contact-empty{
        font-size: 1.1rem;
        background-color: #f7f7f7;
        color: #282c35;
        border-radius: 25px;
        padding: .5rem 2rem;

        &:hover{
            background-color: #ebecf0;
        }
    }
}

.tag{
    padding: .25rem 1rem;
    border-radius: 20px;
    
    &.tag-type{
        color: #b71c1c;
        border: 1px solid #b71c1c;
    }

    &.tag-price{
        border: 1px solid #38ad50;
        color: #38ad50;
    }
}

.information-container {
    background-color: #f7f7f7;
    width: 100%;
    position: relative;

    .information-container__empty {
        height: 300px;
        width: 100%;
        background-color: #f7f7f7;
    }

    .swiper-container__image{
        object-fit: cover;
        width: 100%;
        height: 300px;
        box-shadow: 0 0 3px #000;
        cursor: pointer;
        transition: transform ease .2s;
        &:hover{
            transform: scale(1.1);
        }
    }
    ::ng-deep .swiper-pagination-bullet-active {
        border: 0;
        background-color: #282C35;
    }

    ::ng-deep .swiper-slide {
        width: fit-content !important;
        overflow: hidden !important;
    }
}

.information-fullscreen-container {
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .information-fullscreen__icon{
        width: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 2;
        cursor: pointer;
        background-color: rgba(0, 0, 0, .1);
        transition: background-color ease .2s;
        &:hover{
            background-color: rgba(0, 0, 0, .2);
        }
    }

    .swiper-container__image {
        width: fit-content !important;
        object-fit: contain;
    }

    ::ng-deep .swiper-pagination-bullet-active {
        border: 0;
        background-color: #282C35;
    }
}

.info__container,
.feature_container,
.location__container,
.opening-info__container,
.social-media__container {
    padding: 1rem;
    background-color: #fff;
    .info__title{
        padding-bottom: .25rem;
        font-size: 1.2rem;
        font-weight: normal;
    }
    .info__text{
        white-space: pre-wrap;
    }
    .contact__icon{
        width: 40px;
        line-height: 30px;
        height: 30px;
        background-color: #f7f7f7;
        color: #282C35;
        border-radius: 5px;
        text-align: center;
    }
    .contact__detail{
        line-height: 30px;
        display: block;
        a{
            color: #282C35;
        }
    }
    table > tr td:first-child{
        width: 100px;
    }
}
.contact__container,
.social-media__container {
    background-color: #fff;
    padding: 1rem;
    >div{
        margin-bottom: .5rem;
    }
    .info__title{
        font-size: 1.2rem;
        padding-bottom: .25rem;
    }
    :last-child{
        margin-bottom: 0;
    }
    .social-media__icon {
        width: 40px;
        line-height: 30px;
        height: 30px;
        background-color: #f7f7f7;
        color: #282C35;
        border-radius: 5px;
        text-align: center;
    }

    .social-media__detail {
        line-height: 30px;
        display: block;
        a{
            color: #282C35;
        }
    }
}

.merchant__edit-link{
    color: #b71c1c;

    &:hover{
        color: #b71c1c;
    }
}

.items-container {
    min-height: 30vh;
    background: #fff;
}