<div *ngIf="store; else loadingTemplate">
    <div id="info" class="information-container" *ngIf="store?.informationImages?.length > 0 || isEditing">
        <swiper *ngIf="banners?.length" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false" [navigation]="false" [centeredSlides]="true" [autoHeight]="true">
            <ng-template swiperSlide *ngFor="let image of banners; let i = index">
                <img class="swiper-container__image" [src]="image" alt="upload-image" (click)="openInformation(i)"/>
            </ng-template>
        </swiper>
        <div class="information-container__empty" *ngIf="!banners.length"></div>
        <button *ngIf="isEditing" class="btn btn-sm btn-controller position-absolute" style="right: 1rem; top: 1rem; z-index: 99" (click)="onEditBannersClicked.emit($event)">
            <span class="fas fa-edit mr-2 d-inline-block"></span>Edit Banners
        </button>
    </div>
    <div *ngIf="isInformationOpened" class="information-fullscreen-container position-fixed pt-2">
        <span class="information-fullscreen__icon fas fa-times" (click)="isInformationOpened = false"></span>
        <swiper [index]="selectedInformationIndex" [slidesPerView]="'auto'" [spaceBetween]="10" [navigation]="false" [pagination]="true" [centeredSlides]="true" [direction]="'horizontal'" [mousewheel]="true" [autoHeight]="false">
            <ng-template swiperSlide *ngFor="let image of banners">
                <img class="d-block swiper-container__image center" [src]="image" alt="upload-image" />
            </ng-template>
        </swiper>
    </div>
    <div class="row no-gutters merchant mb-2">
        <div class="col-lg order-11 order-lg-1">
            <div class="merchant__profile-container">
                <button *ngIf="store?.defaultSetting?.invoice?.isPublicReceivable" class="btn btn-shopping btn-block mt-3" (click)="navigateToShopping()">
                    <span class="fas fa-shopping-cart btn-shopping-icon mr-2"></span>Go Shopping
                </button>
                <button *ngIf="!store?.contactButton && isEditing" class="btn btn-contact-empty btn-block mt-3" (click)="onEditContactButtonClicked.emit($event)">
                    <span class="fas fa-plus merchant__message-text-icon mr-2"></span>Add Button
                </button>
                <div *ngIf="store?.contactButton" mdbDropdown>
                    <button *ngIf="isEditing" class="btn btn-contact btn-block mt-3" mdbDropdownToggle>
                        <ng-container *ngTemplateOutlet="contactButtonTemplate"></ng-container>
                    </button>
                    <button *ngIf="!isEditing" class="btn btn-contact btn-block mt-3" (click)="navigateByContactButton()">
                        <ng-container *ngTemplateOutlet="contactButtonTemplate"></ng-container>
                    </button>
                    <ng-template #contactButtonTemplate>
                        <ng-container [ngSwitch]="store?.contactButton?.type">
                            <span *ngSwitchCase="'url'" class="fas fa-info-circle merchant__message-text-icon mr-2"></span>
                            <span *ngSwitchCase="'whatsapp'" class="fas fa-comment-dots merchant__message-text-icon mr-2"></span>
                            <span *ngSwitchCase="'instagram'" class="fas fa-comment-dots merchant__message-text-icon mr-2"></span>
                            <span *ngSwitchCase="'messenger'" class="fas fa-comment-dots merchant__message-text-icon mr-2"></span>
                            <span *ngSwitchCase="'phoneCall'" class="fas fa-phone merchant__message-text-icon mr-2"></span>
                        </ng-container>
                        <ng-container [ngSwitch]="store?.contactButton?.label">
                            <span *ngSwitchCase="'contactUs'">Contact Us</span>
                            <span *ngSwitchCase="'bookNow'">Book Now</span>
                            <span *ngSwitchCase="'orderNow'">Order Now</span>
                            <span *ngSwitchCase="'purchaseNow'">Purchase Now</span>
                            <span *ngSwitchCase="'learnMore'">Learn More</span>
                        </ng-container>
                    </ng-template>
                    <div *ngIf="isEditing" class="dropdown-menu mt-0 pb-0 pt-0">
                        <button class="dropdown-item" (click)="navigateByContactButton()">Test Button</button>
                        <button class="dropdown-item" (click)="onEditContactButtonClicked.emit($event)">Edit Button</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="onDeleteContactButtonClicked.emit($event)">Delete Button</button>
                    </div>
                </div>
                <div class="d-flex align-items-center py-3">
                    <div class="merchant__profile-image__container">
                        <img *ngIf="profileImage" class="merchant__profile-image" [src]="profileImage" alt="profile-image"/>
                        <img *ngIf="!profileImage && isEditing" class="merchant__profile-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8+h8AAu8B9totwrcAAAAASUVORK5CYII="/>
                        <span *ngIf="isEditing" class="merchant__profile-image__edit" (click)="onEditProfileImageClicked.emit($event)"><span class="fas fa-camera" style="font-size: .75rem"></span></span>
                    </div>
                    <div class="merchant__name-container" [ngStyle]="{padding: profileImage || isEditing ? '.25rem .5rem' : '0'}">
                        <p class="merchant__name text-break">{{ store?.name }}</p>
                    </div>
                </div>
                <p *ngIf="isAddressExisting() || isEditing" class="merchant__location"><span class="fas fa-map-marker-alt merchant__location-icon mr-2"></span>
                    <span *ngIf="store.showAddress && isAddressExisting(); else editAddressTemplate">
                        {{ store?.fullAddress?.address + ', ' + store?.fullAddress?.state + ', ' + store?.fullAddress?.postcode + ', ' +store?.fullAddress?.country }}
                    </span>
                    <a *ngIf="store.showAddress && isAddressExisting() && isEditing" class="ml-2 btn btn-sm btn-controller btn-edit" href="javascript:void(0)" (click)="onEditAddressClicked.emit($event)"><span class="fas fa-edit"></span></a>
                </p>
                <span class="tag tag-type mr-2 text-capitalize">{{ store?.type ? store?.type : 'Edit Store Type' }}</span>
                <ng-template #editAddressTemplate>
                    <a class="merchant__edit-link font-9" href="javascript: void(0)" (click)="onEditAddressClicked.emit($event)">Edit Address</a>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg order-12 order-lg-1">
            <div class="info__container" *ngIf="store?.description || isEditing">
                <h4 class="info__title">Overview</h4>
                <button *ngIf="store?.description && isEditing" class="btn btn-sm btn-controller float-right" (click)="onEditDescriptionClicked.emit($event)"><span class="fas fa-edit"></span></button>
                <p *ngIf="store?.description; else noDescriptionTemplate" class="info__text mb-0" style="white-space: break-spaces">{{ store?.description }}</p>
                <a *ngIf="!store?.description && isEditing" href="javascript:void(0)" class="merchant__edit-link w-100 d-inline-block px-3" (click)="onEditDescriptionClicked.emit($event)">Edit Description</a>
                <ng-template #noDescriptionTemplate>
                    <p *ngIf="!isEditing" class="text-center" style="margin: 2rem 0">No description</p>
                </ng-template>
            </div>
            <div class="feature_container" *ngIf="store?.tags?.length || isEditing">
                <h4 class="info__title d-flex align-items-center">Features<button *ngIf="isEditing" class="ml-2 btn btn-sm btn-controller btn-edit" (click)="onEditTagsClicked.emit($event)"><span class="fas fa-edit"></span></button></h4>
                <div *ngIf="store?.tags?.length; else noTagTemplate" class="px-2 pt-3">
                    <span class="badge mr-2 mb-1" style="color: #b71c1c; background-color: #f7f7f7" *ngFor="let tag of store?.tags">{{ tag }}</span>
                </div>
                <ng-template #noTagTemplate>
                    <p class="text-center" style="margin: 2rem 0">No feature</p>
                </ng-template>
            </div>
            <div class="contact__container" *ngIf="(store?.phone?.length + store?.email?.length + store?.website?.length) > 0">
                <h4 class="info__title">
                    Contact
                </h4>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: store?.phone, isEditing: isEditing, isEmptyDisplayed: true, onClick: onEditPhoneClicked, addLabel: 'Add Phone', prefixLink: 'tel:', isLink: true, icon: 'fas fa-phone'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: store?.email, isEditing: isEditing, isEmptyDisplayed: true, onClick: onEditEmailClicked, addLabel: 'Add Email', prefixLink: 'mailto:', isLink: true, icon: 'fas fa-envelope'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: store?.website, isEditing: isEditing, isEmptyDisplayed: true, onClick: onEditWebsiteClicked, addLabel: 'Add Website', isLink: true, icon: 'fas fa-globe'}"></ng-container>
            </div>
            <div class="social-media__container" *ngIf="isEditing || store?.media?.length">
                <h4 class="info__title">
                    Others
                </h4>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.facebook, isEditing: isEditing, onClick: onEditFacebookClicked, addLabel: 'Add Facebook', prefixLink: 'https://www.facebook.com/', isLink: true, icon: 'fa-facebook-f'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.instagram, isEditing: isEditing, onClick: onEditInstagramClicked, addLabel: 'Add Instagram', prefixLink: 'https://www.instagram.com/', isLink: true, icon: 'fa-instagram'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.twitter, isEditing: isEditing, onClick: onEditTwitterClicked, addLabel: 'Add Twitter', prefixLink: 'https://twitter.com/', isLink: true, icon: 'fa-twitter'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.whatsapp, isEditing: isEditing, onClick: onEditWhatsappClicked, addLabel: 'Add Whatsapp', prefixLink: 'https://wa.me/', isLink: true, icon: 'fa-whatsapp'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.messenger, isEditing: isEditing, onClick: onEditMessengerClicked, addLabel: 'Add Facebook Messenger', prefixLink: 'http://m.me/', isLink: true, icon: 'fa-facebook-messenger'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.youtube, isEditing: isEditing, onClick: onEditYoutubeClicked, addLabel: 'Add Youtube Account', prefixLink: 'https://www.youtube.com/channel/', isLink: true, icon: 'fa-youtube'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.snapchat, isEditing: isEditing, onClick: onEditSnapchatClicked, addLabel: 'Add Snapchat', prefixLink: 'https://www.snapchat.com/add/', isLink: true, icon: 'fa-snapchat'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.telegram, isEditing: isEditing, onClick: onEditTelegramClicked, addLabel: 'Add Telegram', prefixLink: 'https://telegram.me/', isLink: true, icon: 'fa-telegram'}"></ng-container>
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {medias: medias?.wechat, isEditing: isEditing, onClick: onEditWechatClicked, addLabel: 'Add Wechat', icon: 'fa-weixin'}"></ng-container>
                <a *ngIf="isEditing" class="merchant__edit-link text-center d-block" href="javascript:void(0)" (click)="onAddMediaClicked.emit($event)">+ Add Social Media</a>
            </div>
            <div class="delivery__container" *ngIf="store?.deliveries || isEditing">
                <h4 class="info__title mb-0">Delivery</h4>
                <div *ngIf="store?.deliveries?.length; else noDeliveryTemplate">
                    <div class="font-9 text-muted w-100">
                        <div *ngFor="let delivery of store?.deliveries | orderBy: 'fee'" class="border-bottom">
                            <div class="align-top py-2 px-3 text-right text-nowrap float-right">
                                RM {{ delivery?.fee | number: '1.2-2' }}
                            </div>
                            <div class="align-top col px-0">
                                <ul class="mb-0 py-2 pl-4 pr-2">
                                    <li class="text-break" *ngFor="let name of delivery?.name">
                                        {{ name }}
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <p class="font-8 mb-0 text-muted py-2">
                        Please check with seller if your location is not listed!
                    </p>
                </div>
                <ng-template #noDeliveryTemplate>
                    <p class="text-center" style="margin: 2rem 0">No delivery</p>
                </ng-template>
            </div>
            <div id="operatingHours" class="opening-info__container" *ngIf="store?.openingInfoType || isEditing">
                <h5 class="info__title d-flex align-items-center">Opening Hour<button *ngIf="isEditing" class="ml-2 btn btn-sm btn-controller btn-edit" (click)="onEditOpeningHoursClicked.emit($event)"><span class="fas fa-edit"></span></button></h5>
                <div *ngIf="store?.openingInfoType == 'temporary_closed' || store?.openingInfoType == 'always_open' || (store?.openingInfoType == 'selected_hours' && store?.openingInfo != null); else noOpeningHourTemplate" class="pb-2 text-muted">
                    <table class="ml-2" *ngIf="store?.openingInfoType == 'selected_hours'">
                        <tr *ngFor="let day of store?.openingInfo">
                            <td style="width: 100px">{{ day.day }}</td>
                            <td><span class="d-block" *ngFor="let time of day.time">{{ time.openingHour }} - {{ time.closeHour}}</span></td>
                        </tr>
                    </table>
                    <div class="pl-3" *ngIf="store?.openingInfoType == 'temporary_closed'">
                        <span class="font-9">Temporary Closed</span>
                    </div>
                    <div class="pl-3" *ngIf="store?.openingInfoType == 'always_open'">
                        <span class="font-9">Always Open</span>
                    </div>
                </div>
                <ng-template #noOpeningHourTemplate>
                    <p class="text-center" style="margin: 2rem 0">No opening hour</p>
                </ng-template>
            </div>
            <div id="location" class="location__container" *ngIf="store?.location?.coordinates?.length && store?.location?.coordinates[0] != 0 && store?.location?.coordinates[1] != 0 || isEditing">
                <h5 class="info__title d-flex align-items-center">Location<button *ngIf="isEditing" class="ml-2 btn btn-sm btn-controller btn-edit" (click)="onEditAddressClicked.emit($event)"><span class="fas fa-edit"></span></button></h5>
                <div class="d-block rounded" target="_blank" *ngIf="store?.showAddress && store?.location?.coordinates?.length && store?.location?.coordinates[0] != 0 && store?.location?.coordinates[1] != 0; else noLocationTemplate">
                    <div class="rounded" style="overflow: hidden">
                        <agm-map class="w-100" style="height: 300px" [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]" [zoom]="14" [gestureHandling]="'greedy'"
                            [mapDraggable]="false" [maxZoom]="17" [minZoom]="11" [streetViewControl]="false" panControl="false" zoomControl="false">
                            <agm-marker [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]" (markerClick)="!isEditing && navigateToMap()"></agm-marker>
                        </agm-map>
                    </div>
                </div>
                <ng-template #noLocationTemplate>
                    <p class="text-center" style="margin: 2rem 0">No location</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" [borderWidth]="1" [spinnerColor]="'#b71c1c'" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Store is not found!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>

<ng-template #mediaTemplate let-medias="medias" let-isEditing="isEditing" let-isEmptyDisplayed="isEmptyDisplayed" let-onClick="onClick" let-addLabel="addLabel" let-icon="icon" let-prefixLink="prefixLink" let-isLink="isLink">
    <div class="d-flex align-items-center pb-2 px-2" *ngIf="medias?.length || (isEditing && isEmptyDisplayed)">
        <span class="social-media__icon fab mr-3" [ngClass]="icon"></span>
        <div class="d-inline-block">
            <span class="social-media__detail" *ngFor="let media of medias">
                <span *ngIf="!isLink">{{ media }}</span>
                <a *ngIf="isLink" target="_blank" [href]="(prefixLink || '') + media">{{ media }}</a>
            </span>
            <a *ngIf="!medias.length && isEditing" href="javascript:void(0)" class="merchant__edit-link w-100 d-inline-block" (click)="onClick.emit($event)">{{addLabel}}</a>
        </div>
        <button *ngIf="medias?.length && isEditing" class="btn btn-sm btn-controller btn-edit ml-auto" (click)="onClick.emit($event)"><span class="fas fa-edit"></span></button>
    </div>
</ng-template>