<ng-progress class="w-100" [direction]="'ltr+'" [spinner]="false" [color]="'#990000'" [meteor]="true" [thick]="true"
    [trickleSpeed]="500" [thick]="true" [ease]="'easeInSine'"></ng-progress>
<app-header></app-header>
<router-outlet></router-outlet>

<!-- <button *ngIf="!isMobileSize" (click)="scrollTo()" class="btn btn-controller position-fixed btn-chevron">
    <span class="fas fa-chevron-up"></span>
</button> -->
<ws-toast></ws-toast>
<ws-loading-screen [label]="loadingLabel" style="z-index: 1000" *ngIf="screenLoading"></ws-loading-screen>