<div *ngIf="!isMobileSize" class="float-banner">
    <span *ngIf="type == 'shop'" [ngClass]="saved? 'fas selected': ''" class="float-icon far fa-heart" (click)="saved? unsaveShop(): saveShop()"></span>
    <span *ngIf="type == 'item'" [ngClass]="saved? 'fas selected': ''" class="float-icon far fa-heart" (click)="saved? unsaveItem(): saveItem()"></span>
    <span *ngIf="type == 'shop'" (click)="isShareModalOpened = true" class="float-icon fas fa-share-alt"></span>
    <span *ngIf="type == 'item'" (click)="isShareModalOpened = true" class="float-icon fas fa-share-alt"></span>
    <span *ngIf="type == 'shop'" (click)="isQRCodeModalOpened = true" class="float-icon fas fa-qrcode"></span>
    <span *ngIf="type == 'shop'" (click)="isInformationModalOpened = true" class="float-icon fas fa-info-circle"></span>
    <span *ngIf="type == 'item'" [routerLink]="['/shop', element?.shop?.username]" class="float-icon fas fa-store"></span>
    <a *ngIf="type == 'item' && isShownLocation" target="_blank" href="http://www.google.com/maps/place/{{element?.shop?.location?.coordinates[1]}},{{element?.shop?.location?.coordinates[0]}}">
        <span class="float-icon" style="height: 39px; padding: 5px;">
            <img style="width: 23px; vertical-align: text-top;" src="assets/images/png/icon.png" alt="logo location" />
        </span>
    </a>
    <a *ngIf="type == 'shop' && isShownLocation" target="_blank" href="http://www.google.com/maps/place/{{element?.location?.coordinates[1]}},{{element?.location?.coordinates[0]}}">
        <span class="float-icon" style="height: 39px; padding: 5px;">
            <img style="width: 23px; vertical-align: text-top;" src="assets/images/png/icon.png" alt="logo location" />
        </span>
    </a>
</div>
<div *ngIf="isMobileSize" style="height: 52px"></div>
<div *ngIf="isMobileSize" class="float-banner__mobile">
    <span *ngIf="type == 'shop'" [ngClass]="saved? 'fas selected': ''" class="float-icon far fa-heart" (click)="saved? unsaveShop(): saveShop()"></span>
    <span *ngIf="type == 'shop'" (click)="isShareModalOpened = true" class="float-icon fas fa-share-alt"></span>
    <span *ngIf="type == 'shop'" (click)="isQRCodeModalOpened = true" class="float-icon fas fa-qrcode"></span>
    <span *ngIf="type == 'shop'" (click)="isInformationModalOpened = true" class="float-icon fas fa-info-circle"></span>
</div>
<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noShopTemplate" class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
</ng-template>
<ng-template #noShopTemplate>
    <h6 class="text-center">Shop is not found.</h6>
</ng-template>

<ws-modal *ngIf="isInformationModalOpened" [id]="'information'" [(isOpened)]="isInformationModalOpened" (isOpenedChange)="showQrcode()">
    <ng-container modalBody *ngIf="element; else loadingTemplate">
        <div class="row no-gutters">
            <div class="col-lg pr-3 order-12 order-lg-1">
                <div class="info__container mb-2 pb-2" *ngIf="element?.description">
                    <h4>Introduction:</h4>
                    <p class="info__text ml-3 mb-0">{{ element?.description }}</p>
                </div>
                <div class="contact__container mb-2 pb-2" *ngIf="(element?.phone?.length + element?.email?.length + element?.website?.length) > 0">
                    <h4>
                        Contact:
                    </h4>
                    <div class="row no-gutters mb-2 ml-3" *ngIf="element?.phone?.length">
                        <span class="contact__icon fas fa-phone mr-2"></span>
                        <div class="d-inline-block">
                            <span class="contact__detail" *ngFor="let phone of element?.phone">
                                <a href="tel: {{phone}}">{{ phone }}</a>
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters mb-2 ml-3" *ngIf="element?.email?.length">
                        <span class="contact__icon fas fa-envelope mr-2"></span>
                        <div class="d-inline-block">
                            <span class="contact__detail" *ngFor="let email of element?.email">
                                <a href="mailto: {{email}}">{{ email }}</a></span>
                        </div>
                    </div>
                    <div class="row no-gutters mb-2 ml-3" *ngIf="element?.website?.length">
                        <span class="contact__icon fas fa-globe mr-2"></span>
                        <div class="d-inline-block">
                            <span class="contact__detail" *ngFor="let website of element?.website">
                                <a href="{{ website }}">{{ website }}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="opening-info__container mb-2 pb-2">
                    <h4>Opening hour:</h4>
                    <table class="ml-3" *ngIf="element?.openingInfoType == 'selected_hours'">
                        <tr *ngFor="let day of element?.openingInfo">
                            <td>{{ day.day }}</td>
                            <td><span class="d-block" *ngFor="let time of day.time">{{ time.openingHour }} - {{ time.closeHour}}</span></td>
                        </tr>
                    </table>
                    <div class="pl-3" *ngIf="element?.openingInfoType == 'temporary_closed'">
                        <span>Temporary Closed</span>
                    </div>
                    <div class="pl-3" *ngIf="element?.openingInfoType == 'always_open'">
                        <span>Always Open</span>
                    </div>
                    <div class="pl-3" *ngIf="element?.openingInfoType == 'no_hour_available'">
                        <span>No Hour Available</span>
                    </div>
                </div>
            </div>
            <div class="qrcode__container center col-auto mb-4 mt-3 pl-lg-3 order-1 order-lg-12">
                <div class="qrcode border p-3">
                    <ws-spinner style='line-height: 150px' class="text-center d-block" *ngIf="isQrcodeLoading.isRunning()"></ws-spinner>
                </div>
            </div>
        </div>
        <div class="d-block" *ngIf="isShownLocation">
            <h4>Find Location:</h4>
            <agm-map class="w-100" style="height: 300px" [longitude]="element?.location?.coordinates[0]" [latitude]="element?.location?.coordinates[1]" [zoom]="14" [gestureHandling]="'greedy'"
            [mapDraggable]="false" [maxZoom]="17" [minZoom]="11" [streetViewControl]="false" panControl="false" zoomControl="false">
                <agm-marker [longitude]="element?.location?.coordinates[0]" [latitude]="element?.location?.coordinates[1]"></agm-marker>
            </agm-map>
        </div>
    </ng-container>
</ws-modal>
<ws-modal [id]="'qr-code'" *ngIf="isQRCodeModalOpened" [maxWidth]="310" [(isOpened)]="isQRCodeModalOpened" (isOpenedChange)="showQrcode()">
    <div modalBody class="row no-gutters">
        <div class="qrcode__container mb-4 mt-3 col-auto center">
            <div class="qrcode border p-3">
                <ws-spinner style='line-height: 150px' class="text-center d-block" *ngIf="isQrcodeLoading.isRunning()"></ws-spinner>
            </div>
        </div>
        <div class="social-media__container row no-gutters col-sm px-4" *ngIf="element?.media?.length">
            <div class="row no-gutters mb-2" *ngIf="medias?.facebook?.length">
                <span class="social-media__icon fab fa-facebook-f mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.facebook">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.instagram?.length">
                <span class="social-media__icon fab fa-instagram mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.instagram">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.twitter?.length">
                <span class="social-media__icon fab fa-twitter mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.twitter">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.whatsapp?.length">
                <span class="social-media__icon fab fa-whatsapp mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.whatsapp">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.fbmessenger?.length">
                <span class="social-media__icon fab fa-facebook-messenger mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.fbmessenger">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.google?.length">
                <span class="social-media__icon fab fa-google-plus-g mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.google">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.youtube?.length">
                <span class="social-media__icon fab fa-youtube mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.youtube">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.snapchat?.length">
                <span class="social-media__icon fab fa-snapchat mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.snapchat">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.telegram?.length">
                <span class="social-media__icon fab fa-telegram mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.telegram">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.weibo?.length">
                <span class="social-media__icon fab fa-weibo mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.weibo">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters mb-2" *ngIf="medias?.weixin?.length">
                <span class="social-media__icon fab fa-weixin mr-2"></span>
                <div class="d-inline-block">
                    <span class="social-media__detail" *ngFor="let media of medias?.weixin">
                        <a href="{{ media?.value }}">{{ media?.value }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</ws-modal>
<ws-modal *ngIf="isShareModalOpened" [maxWidth]="500" [(isOpened)]="isShareModalOpened">
    <div modalBody class="share-media__container">
        <h4>Share:</h4>
        <!-- <swiper class="py-4 d-block" [config]="{slidesPerView: 7, spaceBetween: 10, slidesPerGroup: 7, navigation: false, pagination: false}"> -->
            <a class="share-media__icon fb" href="javascript:void(0)" (click)="shareThroughFB()">
                <span class="fab fa-facebook-f"></span>
            </a>
            <a class="share-media__icon twitter" target="_blank" href="{{ shareLinkThroughTwitter }}">
                <span class="fab fa-twitter"></span>
            </a>
            <a class="share-media__icon email" href="{{ shareLinkThroughEmail }}">
                <span class="fas fa-envelope"></span>
            </a>
        <!-- </swiper> -->
        <div class="input-group">
            <input class="form-control" style='background-color: #fff' readonly [value]="link" />
            <div class="input-group-append">
                <button class="input-group-text" [cdkCopyToClipboard]="link">
                    <span class="fas fa-copy"></span>
                </button>
            </div>
        </div>
    </div>
</ws-modal>