<div class="rating">
    <label>
        <input type="radio" [name]="name" (change)="onValueChanged($event)" value="1" />
        <span class="fas fa-star icon"></span>
    </label>
    <label>
        <input type="radio" [name]="name" (change)="onValueChanged($event)" value="2" />
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
    </label>
    <label>
        <input type="radio" [name]="name" (change)="onValueChanged($event)" value="3" />
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
    </label>
    <label>
        <input type="radio" [name]="name" (change)="onValueChanged($event)" value="4" />
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
    </label>
    <label>
        <input type="radio" [name]="name" (change)="onValueChanged($event)" value="5" />
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
        <span class="fas fa-star icon"></span>
    </label>
</div>