<div class="list-item__container" (click)="navigateItem($event)">
    <div class="list-item">
        <div class="row no-gutters">
            <span class="list-item__image-container">
                <img *ngIf="item?.profileImages?.length" [src]="environment.IMAGE_URL + item?.profileImages[item?.profileImageIndex]" class="list-item__image" alt="profile Image" />
                <img *ngIf="!item?.profileImages?.length" src="/assets/images/png/profileImage.png" alt="item detault profile image" />
            </span>
            <div class="list-item__middle col px-2 px-lg-3">
                <p class="list-item__text">{{ item?.name }}</p>
                <p class="list-item__discount-price mb-0" *ngIf="item?.currency && item?.isOffer" style="text-decoration: line-through;"><span class="pr-1">{{ currencyService.currencySymbols['MYR'] }}</span>{{ item?.price | currency: currencyService.getCurrencyWithCode(item?.currency).rate: currencyService.getCurrencyWithCode('MYR').rate }}</p>
                <p class="list-item__price mb-0" *ngIf="item?.currency && item?.isOffer"><span class="pr-1">{{ currencyService.currencySymbols['MYR'] }}</span>{{ item?.price | currency: currencyService.getCurrencyWithCode(item?.currency).rate: currencyService.getCurrencyWithCode('MYR').rate | discountconverter : item?.discount }}</p>
                <p class="list-item__price mb-1" *ngIf="item?.currency && !item?.isOffer"><span class="pr-1">{{ currencyService.currencySymbols['MYR'] }}</span>{{ item?.price | currency: currencyService.getCurrencyWithCode(item?.currency).rate: currencyService.getCurrencyWithCode('MYR').rate }}</p>
            </div>
            <span class="list-item-icon-right fas fa-heart" [class.selected]="follow" (click)="followClicked($event)"></span>
        </div>
    </div>
</div>