<header>
    <div class="row no-gutters px-3">
        <div *ngIf="isMobileSize !== null" class="float-left col row no-gutters">
            <a [routerLink]="['/']" class="header__label" style="display: flex">
                <object style="pointer-events: none;" type="image/svg+xml" data="assets/images/svg/icon-title.svg" height="70" width="150"></object>
            </a>
            <div *ngIf="false" class="position-relative col-sm-auto col pr-2">
                <input #headerKeyword class="form-control header__searchbar" placeholder="Search..." (keydown.enter)="navigateTo()" [(ngModel)]="keyword"/>
                <span class="header__searchbar-icon fas fa-search" [routerLink]="['/search']" [queryParams]="{keyword: keyword}"></span>
            </div>
            <ul class="nav d-none d-lg-flex align-items-center">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://merchant.wonderscale.com" class="nav-link">Start Listing</a>
                </li>
            </ul>
        </div>
        <div class="user-container">
            <div *ngIf="!user && isMobileSize == false">
                <a class="user-container__link" href="javascript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'login'}" [queryParamsHandling]="'merge'">Login</a>
                <span class="user-container__text">|</span>
                <a class="user-container__link" href="javacript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'register'}" [queryParamsHandling]="'merge'">Sign-up</a>
            </div>
            <div *ngIf="!user && isMobileSize">
                <a class="user-container__link" href="javascript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'login'}" [queryParamsHandling]="'merge'">
                    <span class="fas fa-sign-in-alt"></span>
                </a>
            </div>
            <div *ngIf="user" class="btn-group" mdbDropdown>
                <div mdbDropdownToggle class="user-container__profile-container dropdown-toggle">
                  <img class='user-container__profile mr-1' src="{{user?.profileImage}}" alt="profile" />
                  <span class="user-container__chevron-icon fas fa-chevron-down" style="color: #888; font-size: .6rem; vertical-align: sub"></span>
                </div>
                <div class="dropdown-menu dropdown-primary">
                  <a href="javascript:void(0)" class="dropdown-item" style="pointer-events: none;">{{user?.firstName}} {{user?.lastName}}
                  </a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['favorite']">Favorites</a>
                  <a class="dropdown-item" [routerLink]="['settings']">Settings</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" target="_blank" href="https://merchant.wonderscale.com">Start Listing</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header__padding"></div>