header {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  transition: all ease .5s;
  user-select: none;
  

  &.header__collapsed {
    height: 50px;

    .user-container__link {
      line-height: 50px;
    }

    .header__searchbar {
      margin-top: 11px;
      height: 28px;
    }

    .header__searchbar-icon{
      top: 1rem;
    }

    .header__icon {
      width: 50px;
      height: 50px;
    }
    .dropdown-menu{
      margin-top: 28px;
      right:0;
      left: inherit;
    }
    .nav {
      line-height: 50px;
      margin-left: .5rem;
      .nav-item{
          padding: 0 .5rem;
      }
    }
    .user-container__profile-container{
      padding: .7rem 1rem;
      .user-container__profile{
        width: 30px;
        height: 30px;
      }
    }
  }

  .header__label{
    font-family: 'Bauhaus 93';
    color: #7f0000;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .header__icon {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: .5rem;
    transition: all ease .5s;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  .header__searchbar {
    margin-top: 21px;
    background-color: rgba(255, 255, 255, .2);
    border: 0;
    color: #fff;
    transition: all .5s ease;
    width: 100%;
    max-width: 300px;
    padding-right: 3rem;
    &:focus{
      background-color: rgba(255, 255, 255, .2);
      color: #fff;
    }
    &::placeholder {
      color: #fff;
    }
  }
  .header__searchbar-icon{
    position: absolute;
    font-size: 1rem;
    color: #fff;
    top: 2rem;
    right: 1rem;
    transition: top ease .5s;
  }

  .nav {
    padding-left: 2rem;
  
    .nav-item {
      text-align: center;
      padding: 0 1rem;

      .nav-link{
        padding: .5rem 1rem;
        border-radius: 20px;
        transition: all ease .15s;
        color: #7f0000;

        &:hover {
          background-color: #f7f7f7;
        }
      }
    }

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.user-container {
    float: right;
    background-color: rgba(255, 255, 255, .2);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-container__link {
        font-size: 1rem;
        line-height: 35px;
        color: #222;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 .25rem;
        display: inline-block;
        border-radius: 20px;
        background-color: #f7f7f7;
        transition: all .5s ease, color .1s ease;

        &:hover {
            background-color: #7F0000;
            color: #fff;
        }
    }

  .user-container__profile-container {
    display: inline-block;
    padding: .5rem 1.5rem;
    transition: background-color ease .5s;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f7f7f7;

    .user-container__profile {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        user-select: none;
        transition: all ease .5s;
    }

    .user-container__chevron-icon {
        margin-left: .5rem;
    }

    &:hover {
        background-color: #ddd;
    }
  }
  .dropdown-menu{
    margin-top: 19px;
    right:0;
    left: inherit;
    z-index: 999;
    padding-top: 0;
    padding-bottom: 0;
    transition: margin-top ease .5s;
    .dropdown-item{
      font-size: .9rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
    .dropdown-divider{
      margin: 0;
    }
  }
  .dropdown-toggle::after{
    display: none;
  }

  .user-container__text {
    color: white;
  }
}

.header__padding {
  padding-top: 70px;

  &.header__padding-collapsed {
    padding-top: 50px;
  }
}


@media(max-width:992px) {
  .user-container{
    background-color: transparent;
  }
}