<div class="menu-container mb-2" *ngIf="shop?.type == 'restaurant' && shop?.menuImages?.length > 0">
    <swiper [config]="{slidesPerView: 'auto', spaceBetween: 10, pagination: false, navigation: false, autoHeight: true}">
        <div class="swiper-slide d-inline-block" *ngFor="let image of shop?.menuImages; let i = index" (click)="openMenu(i)">
            <img class="swiper-container__image" [src]="environment.IMAGE_URL + image" alt="upload-image" />
        </div>
    </swiper>
</div>
<div *ngIf="isMenuOpened" class="menu-fullscreen-container position-fixed pt-2">
    <span class="menu-fullscreen__icon fas fa-times" (click)="isMenuOpened = false"></span>
    <swiper [index]="selectedMenuIndex" [config]="{slidesPerView: 'auto', spaceBetween: 10, navigation: false, centeredSlides: true, direction: 'vertical', mousewheel: true}"> 
        <ng-container *ngFor="let image of shop?.menuImages">
            <img class="swiper-container__image swiper-slide center" style="object-fit: contain;" [src]="environment.IMAGE_URL + image" alt="upload-image" />
        </ng-container>
    </swiper>
</div>
<div *ngIf="allItems.length" id="items" class="category-container">
    <mat-select class="form-control category-container__dropdown" [(value)]="selectedCategory" (selectionChange)="getItemsByCategoryId(selectedCategory)">
        <mat-option [value]="'all'">All</mat-option>
        <mat-option *ngIf="todaySpecialItems?.length" [value]="'todayspecial'">Today Special</mat-option>
        <mat-option *ngIf="newItems?.length" [value]="'new'">New</mat-option>
        <mat-option *ngIf="discountItems?.length" [value]="'discount'">Discount</mat-option>
        <mat-option [value]="category?._id" *ngFor="let category of categories">{{ category?.name }}</mat-option>
    </mat-select>
</div>

<div class="items-container">
    <ng-container *ngIf="!itemLoading.isRunning() && items?.length; else itemLoadingTemplate">
        <div *ngIf="items.length" class="w-100 pb-3">
            <list-item [item]="item" *ngFor="let item of items"></list-item>
        </div>
        <!-- <pagination class="pb-4" [total]="items.length"></pagination> -->
    </ng-container>
</div>

<ng-template #itemLoadingTemplate>
    <ws-spinner *ngIf="itemLoading.isRunning(); else noItemTemplate" class="text-center d-block w-100" style="padding-top: 10rem; padding-bottom: 10rem;"></ws-spinner>
</ng-template>

<ng-template #noItemTemplate>
    <h6 class="text-center" style="padding: 6rem 0;">No item</h6>
</ng-template>