<ws-modal [closeCallback]="closeModal.bind(this)" [maxWidth]="520">
    <div class="pt-3" modalBody>
        <div *ngIf="onSellingItem && !loading.isRunning(); else loadingTemplate">
            <div class="list-item-info">
                <h1 class="list-item-info__title h4 mb-3">{{ onSellingItem?.item?.name }}</h1>
                <p class="px-3 font-9" *ngIf="onSellingItem?.isEntityNew"><span class="fas fa-tag list-item-info__details__new-banner mr-2"></span>New Product</p>
                <!-- <p class="px-3 font-9" *ngIf="onSellingItem?.isDiscountExisting"><span class="fas fa-tag list-item-info__details__discount-banner mr-2"></span>Discount</p> -->
                <div class="list-item-info__details">
                    <div class="list-item-info__icons">
                        <span class="list-item-info__icon fas fa-heart" [ngClass]="saved? 'fas selected': ''" (click)="saved? unsaveItem(): saveItem()"></span>
                        <span class="list-item-info__icon fas fa-share-alt" (click)="isShareModalOpened = true"></span>
                        <span class="list-item-info__icon fas fa-store" (click)="navigateToStore()"></span>
                    </div>
                    <div class="list-item-info__price-container">
                        <!--  && item.priceAfterDiscount != item.price -->
                        <span class="d-inline-block mr-2 mb-0" *ngIf="currencies?.length && onSellingItem?.item?.currency && onSellingItem?.item?.isOffer">
                            <span class="list-item-info__details__original-price d-inline-block">
                                <span class="pr-1">RM</span>{{ defaultType?.price | wsCurrency: 1: 1 }}</span>
                        </span>
                        <span class="list-item-info__details__price mb-1" *ngIf="currencies?.length && onSellingItem?.item?.currency && !onSellingItem?.item?.isOffer"><span class="pr-1">RM</span>{{ defaultType?.price | wsCurrency: 1: 1 }}</span>
                        <span [class.list-item-info__details__price__offer]="onSellingItem?.item?.isDiscountExisting" class="list-item-info__details__price mb-1" *ngIf="currencies?.length && onSellingItem?.item?.currency && onSellingItem?.item?.isOffer"><span class="pr-1">RM</span>{{ defaultType?.price | wsCurrency: 1: 1 | discountconverter : defaultType?.discount }}</span>
                        <span *ngIf="false && onSellingItem?.item?.quantity" class="list-item-info__details__quantity">Quantity: {{ quantity }}</span>
                    </div>
                </div>
                <div class="clearfix mb-3"></div>
                <p *ngIf="onSellingItem?.item?.description" class="list-item-info__description">{{ onSellingItem?.item?.description }}</p>
                <div *ngIf="profileImages.length" class="list-item-info__profile-container row no-gutters">
                    <div class="list-item-info__profile mb-2">
                        <swiper #galleryThumbs (indexChange)="onIndexChange($event)" [(index)]="selectedProfileIndex" [config]="{
                            centeredSlides: true,
                            pagination: false,
                            navigation: false}">
                            <!--  && item.priceAfterDiscount != selectedType.price -->
                            <div *ngFor="let image of profileImages" class="d-flex" style="background: #fefefe;">
                                <img style="width: 100%; object-fit: contain; height: initial" [lazyLoad]="environment.IMAGE_URL + image" [defaultImage]="'assets/images/png/itemProfile.png'" alt="image"/>
                                <div [class.swiper__image-label-offer]="onSellingItem?.item?.isOffer" class="swiper__image-label w-100 text-center font-8">
                                    <p class="d-inline-block mb-0">
                                        <span *ngIf="currencies?.length && onSellingItem?.item?.currency && onSellingItem?.item?.isOffer" class="d-inline-block mr-2 font-8" style="text-decoration: line-through;">
                                            <span class="pr-1">RM</span>{{ selectedType?.price | wsCurrency: 1: 1 }}</span>
                                        <span>
                                            <span class="mb-1" *ngIf="currencies?.length && onSellingItem?.item?.currency && !onSellingItem?.item?.isOffer"><span class="pr-1">RM</span>{{ selectedType?.price | wsCurrency: 1: 1 }}</span>
                                            <span class="mb-1" *ngIf="currencies?.length && onSellingItem?.item?.currency && onSellingItem?.item?.isOffer"><span class="pr-1">RM</span>{{ selectedType?.price | wsCurrency: 1: 1 | discountconverter : selectedType?.discount }}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </swiper>
                    </div>
                    <div *ngIf="onSellingItem?.item.types?.length > 1" class="w-100 py-3" style="position: relative; z-index: 1">
                        <span *ngFor="let type of onSellingItem?.item.types; let i = index" class="list-item-info__profile-image-container mr-1 mb-1 clickable">
                            <img *ngIf="!type.images?.length" class="list-item-info__profile-image" (click)="selectItemType(type)" src="assets/images/png/profileImage.png" alt="image"/>
                            <img *ngIf="type.images?.length" class="list-item-info__profile-image" (click)="selectItemType(type)" [src]="environment.IMAGE_URL + type.images[0]" alt="image"/>
                            <span *ngIf="type == selectedType" class="list-item-info__profile-image__overlay"></span>
                        </span>
                    </div>
                </div>
                <!-- <div *ngIf="false && onSellingItem?.item?.description" class="list-item-info__container">
                    <div class="list-item-info__description-image mb-4" *ngFor="let descriptionImage of onSellingItem?.item?.descriptionImages">
                        <img [src]="environment.IMAGE_URL + descriptionImage" alt="description image" />
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</ws-modal>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noItemTemplate" class="text-center d-block w-100" [borderWidth]="1" [spinnerColor]="'#b71c1c'" style="padding-top: 15vh; padding-bottom:15vh"></ws-spinner>
</ng-template>

<ng-template #noItemTemplate>
    <h6 class="text-center mb-0" style="padding-top:28.588vh; padding-bottom:28.588vh">Item not found.<br/>
    <span class="mt-2 d-inline-block">Item might already be unpublished by the page.</span></h6>
</ng-template>

<ws-modal *ngIf="isShareModalOpened" [maxWidth]="500" [(isOpened)]="isShareModalOpened">
    <div modalBody class="share-media__container">
        <h4>Share:</h4>
        <!-- <swiper class="py-4 d-block" [config]="{slidesPerView: 7, spaceBetween: 10, slidesPerGroup: 7, navigation: false, pagination: false}"> -->
            <a class="share-media__icon fb" href="javascript:void(0)" (click)="shareThroughFB()">
                <span class="fab fa-facebook-f"></span>
            </a>
            <a class="share-media__icon twitter" target="_blank" href="{{ shareLinkThroughTwitter }}">
                <span class="fab fa-twitter"></span>
            </a>
            <a class="share-media__icon email" href="{{ shareLinkThroughEmail }}">
                <span class="fas fa-envelope"></span>
            </a>
        <!-- </swiper> -->
        <div class="input-group">
            <input class="form-control" style='background-color: #fff' readonly [value]="link" />
            <div class="input-group-append">
                <button class="input-group-text" [cdkCopyToClipboard]="link">
                    <span class="fas fa-copy"></span>
                </button>
            </div>
        </div>
    </div>
</ws-modal>