:host {
    background-color: rgb(247, 247, 247);
    display: block;
}

.search__container{
    padding: 1.5rem 6px;
    .search__searchbar{
        width: 300px;
        .search__searchbar__input{
            background-color: #f7f7f7;
            border: 0;
        }
        .search__searchbar__button{
            background-color: #f7f7f7;
            border: 0;
        }
    }
}

@media(max-width:992px) {
    .search__container {
        padding: 1rem 0;
    }
}

@media(max-width:375px) {
    .search__container {
        .search__searchbar{
            width: 100%;
        }
    }
}