:host{
    min-width: 222px;
    transition: transform ease .2s;
    &:hover{
        transform: scale(1.03);
        cursor: pointer;
    }
    .item__favorite-icon.fa-heart{
        color: #fff;
        position: absolute;
        font-size: 1.5rem;
        left: 1rem;
        top: 1rem;
        filter: drop-shadow(0 0 2px #888);
        &.selected{
            color: rgba(255, 0, 0, .5);
        }
    }
    .item__remove-icon.fa-times{
        color: #282C35;
        position: absolute;
        right: 1rem;
        top: 1rem;
        transition: color ease .1s;
        &:hover{
            color: #4d5466;
        }
    }
    .item__image{
        position: relative;
        text-align: center;
        max-width: 222px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
    }
    .item__name{
        font-size: .9rem;
        height: 42px;
        overflow-wrap: break-word;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        overflow: hidden;
        max-lines: 2
    }
    .item__price{
        display: inline-block;
        border-radius: 1.5rem;
        color: #fff;
        padding: .05rem .5rem;
        font-size: .8rem;
        background-color: #282C35;
    }
    .item__discount-price{
        font-size: .8rem;
    }
}