<div *ngIf="store && !loading.isRunning(); else loadingTemplate">
    <merchant-page
    [store]="store"
    [banners]="banners"
    [profileImage]="profileImage"
    [isEditing]="false"
    [isFollowed]="isFollowed"
    [isAuthenticated]="isAuthenticated"
    [itemService]="itemService"
    [facebookService]="facebookService"
    [authFollowService]="authFollowService"
    ></merchant-page>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 class="my-5 py-5 text-center">Store is not found!</h6>
</ng-template>