.merchant {
    .merchant__name {
        text-align: center;
    }

    .merchant__username {
        text-align: center;
        font-size: .9rem;
    }

    .merchant__profile-container {
        position: relative;

        .merchant__profile {
            position: absolute;
            top: 25px;
            left: 72px;
            width: 138px;
            height: 138px;
            border-radius: 50%;
            z-index: 1;
        }

        .merchant__profile-background {
            display: block;
            width: 230px;
            height: 230px;
        }
    }

    .merchant-background {
        background-color: #fff;
        height: 300px;

        .merchant-background__banner {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }

    .merchant__nav-item {
        background: rgba(255, 255, 255, .6);

        .merchant__nav-link {
            color: #000;
        }
    }
}

.discount-items-container,
.new-items-container {
    background-color: #fff;
    width: 100%;
    max-height: 360px;

    ::ng-deep .swiper-pagination-bullet-active {
        border: 0;
        background-color: #282C35;
    }

    ::ng-deep .swiper-button-prev,
    ::ng-deep .swiper-button-next {
        &::after {
            font-size: 1rem;
            color: #CCCCCC;
        }
    }
}

.information-container {
    background-color: #fff;
    width: 100%;

    ::ng-deep .swiper-pagination-bullet-active {
        border: 0;
        background-color: #282C35;
    }

    ::ng-deep .swiper-slide {
        overflow: hidden !important;
    }
}

.category-container {
    .category-container__dropdown {
        border: 0;
        width: 250px;
        border-radius: 19rem;
        padding-top: .5rem;
        padding-left: 1.25rem;
    }
}

.items-container {
    background: #fff;
}
@media(max-width: 1200px) {
    .merchant {
        .merchant__profile-container {
            .merchant__profile{ 
                left: 50px;
            }
        }
    }
}

@media(max-width: 992px) {
    .merchant {
        .merchant__profile-container {
            .merchant__profile{ 
                border-radius: 50%;
                padding: .5rem;
                box-shadow: 0 0 3px #ccc;
            }
            .merchant__profile-background,
            .merchant__name,
            .merchant__username {
                display: none;
            }
        }
    }
}