<div *ngIf="preview" #alert class="alert alert-danger alert-dismissible fade show font-8 my-2 w-100" role="alert">
    This is a preview page and will not displayed to public.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="shop && !loading.isRunning(); else loadingTemplate">
    <div class="row no-gutters merchant mb-3">
        <div class="col-lg order-11 order-lg-1">
            <div class="merchant__profile-container">
                <img *ngIf="shop?.profileImage" class="merchant__profile" [src]="environment.IMAGE_URL + shop?.profileImage" alt="profile-image" />
                <img *ngIf="!shop?.profileImage" class="merchant__profile" style="background-color: #fff" src="assets/images/png/shop.png" alt="profile-image" />
                <img class="d-none d-lg-block merchant__profile-background my-1 center" src="assets/images/png/icon-with-profile-image-borderless.png" alt="profile-background" />
                <div class="merchant__name-container">
                    <p class="merchant__name mb-0 text-break">{{ shop?.name }}</p>
                    <p class="merchant__username mb-0">@{{ shop?.username }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 merchant-background position-relative order-1 order-lg-12">
            <p *ngIf="!shop?.bannerImage" class="merchant__text mb-0">{{shop?.name}}</p>
            <img class="merchant-background__banner" *ngIf="shop?.bannerImage" [src]="environment.IMAGE_URL + shop?.bannerImage" alt="banner" />
        </div>
        <ul *ngIf="false" class="merchant__nav nav order-12 d-none d-lg-block">
            <li *ngIf="false && newItems.length" class="merchant__nav-item nav-item">
                <a (click)="scrollTo('new-items')" class="merchant__nav-link nav-link">New</a>
            </li>
            <li *ngIf="shop?.informationImages.length" class="merchant__nav-item nav-item">
                <a (click)="scrollTo('info')" class="merchant__nav-link nav-link">Info</a>
            </li>
            <li *ngIf="allItems.length" class="merchant__nav-item nav-item">
                <a (click)="scrollTo('items')" class="merchant__nav-link nav-link">Items</a>
            </li>
        </ul>
    </div>

    <div *ngIf="false && newItems?.length" id="new-items" class="new-items-container mb-3">
        <swiper [config]="{breakpoints: {'425': {slidesPerView: 2, spaceBetween: 10, slidesPerGroup: 2}, '768': { slidesPerView: 3, spaceBetween: 10, slidesPerGroup: 3}, '992': {slidesPerView: 4, spaceBetween: 10, slidesPerGroup: 4}}, slidesPerView: 1}">
            <item [item]="item" [index]="i" *ngFor="let item of newItems; let i = index" class="mb-5 item__fit-screen"></item>
        </swiper>
    </div>

    <div id="info" class="information-container mb-3" *ngIf="shop?.informationImages?.length > 0">
        <swiper [config]="{navigation: false, autoHeight: true}">
            <div *ngFor="let image of shop?.informationImages">
                <img class="d-block center swiper-container__image" style="width:100%;" [src]="environment.IMAGE_URL + image" alt="upload-image" />
            </div>
        </swiper>
    </div>

    <div id="discount-items" *ngIf="false && discountItems.length" class="discount-items-container mb-3">
        <swiper [config]="{breakpoints: {'992': {slidesPerView: 4, spaceBetween: 10}}, slidesPerView: 1}">
            <item [item]="item" [index]="i" *ngFor="let item of discountItems; let i = index" class="mb-5 item__fit-screen"></item>
        </swiper>
    </div>

    <div id="items" class="category-container mb-3">
        <mat-select class="form-control category-container__dropdown" [(value)]="selectedCategory" (selectionChange)="getItemsByCategoryId(selectedCategory)">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngIf="todaySpecialItems.length" [value]="'todayspecial'">Today Special</mat-option>
            <mat-option *ngIf="newItems.length" [value]="'new'">New</mat-option>
            <mat-option *ngIf="discountItems.length" [value]="'discount'">Discount</mat-option>
            <mat-option [value]="category?._id" *ngFor="let category of categories">{{ category?.name }}</mat-option>
        </mat-select>
    </div>

    <div class="items-container">
        <ng-container *ngIf="!itemLoading.isRunning() && items?.length; else itemLoadingTemplate">
            <div *ngIf="false" class="row no-gutters mb-4">
                <!-- <item [item]="item" *ngFor="let item of items" class="mb-5"></item> -->
            </div>
            <div *ngIf="items.length" class="w-100">
                <list-item [item]="item" *ngFor="let item of items"></list-item>
            </div>
            <pagination class="pb-4" [total]="items.length"></pagination>
        </ng-container>
    </div>
</div>

<float-banner [element]="shop" [type]="'shop'"></float-banner>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noShopTemplate" class="text-center d-block w-100" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>
<ng-template #itemLoadingTemplate>
    <ws-spinner *ngIf="itemLoading.isRunning(); else noItemTemplate" class="text-center d-block w-100" style="padding-top: 10rem; padding-bottom: 10rem;"></ws-spinner>
</ng-template>

<ng-template #noShopTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Shop is not found!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>
<ng-template #noItemTemplate>
    <h6 class="text-center" style="padding: 6rem 0;">No item</h6>
</ng-template>