<!-- <div *ngIf="preview" #alert class="alert alert-danger alert-dismissible fade show font-8 my-2 w-100" role="alert">
    This is a preview page and will not displayed to public if the store is in unpublished status.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div *ngIf="store && !loading.isRunning(); else loadingTemplate">
    <div id="info" class="information-container mb-2" *ngIf="store?.informationImages?.length > 0">
        <swiper [config]="{slidesPerView: 'auto', spaceBetween: 5, pagination: false, navigation: false, autoHeight: true}">
            <div class="swiper-slide d-inline-block" *ngFor="let image of store?.informationImages; let i = index">
                <img class="swiper-container__image" [src]="environment.IMAGE_URL + image" alt="upload-image" (click)="openInformation(i)"/>
            </div>
        </swiper>
    </div>
    <div *ngIf="isInformationOpened" class="information-fullscreen-container position-fixed pt-2">
        <span class="information-fullscreen__icon fas fa-times" (click)="isInformationOpened = false"></span>
        <swiper [index]="selectedInformationIndex" [config]="{slidesPerView: 'auto', spaceBetween: 10, navigation: false, centeredSlides: true, direction: 'vertical', mousewheel: true}"> 
            <ng-container *ngFor="let image of store?.informationImages">
                <img class="swiper-slide swiper-container__image center" [src]="environment.IMAGE_URL + image" alt="upload-image" />
            </ng-container>
        </swiper>
    </div>
    <div class="container" style="margin-bottom: 10rem">
        <div class="row no-gutters">
            <div class="col-lg-8 merchant mb-3 pr-lg-5">
                <div class="merchant__profile-container">
                    <img *ngIf="store?.profileImage" class="merchant__profile" [src]="environment.IMAGE_URL + store?.profileImage" alt="profile-image" />
                    <div class="merchant__name-container">
                        <p class="merchant__name mb-0 text-break">{{ store?.name }}</p>
                        <p class="merchant__location"><span class="fas fa-map-marker-alt merchant__location-icon mr-2"></span>Bandar Puchong Jaya, Puchong, Selangor, 47170, Malaysia</p>
                        <span class="tag tag-food mr-2">Food</span>
                        <span class="tag tag-price mr-2">RM 2 - 10</span>
                    </div>
                </div>
                <ul class="merchant__nav list-group list-group-horizontal w-100">
                    <li (click)="scrollTo('overview')" [class.selected]="selectedNavItem == 'overview'" class="merchant__nav-item list-group-item selected">Overview</li>
                    <li (click)="scrollTo('location')" [class.selected]="selectedNavItem == 'location'" class="merchant__nav-item list-group-item">Location</li>
                    <li (click)="scrollTo('operatingHours')" [class.selected]="selectedNavItem == 'operatingHours'" class="merchant__nav-item list-group-item mr-auto">Operating Hours</li>
                    <li (click)="scrollTo('catalogue')" [class.selected]="selectedNavItem == 'catalogue'" class="merchant__nav-item list-group-item"><span class="fas fa-book-open"></span> Catalogue</li>
                </ul>
                <div class="mb-3" style="border-bottom: 2px solid #ccc; margin-top: -2px"></div>
                <div *ngIf="selectedNavItem != 'catalogue'" class="details-container">
                    <div id="overview" class="mb-3" style="min-height: 300px">
                        <p class="info__text mb-0">{{ store?.description }}</p>
                    </div>
                    <div id="location" class="mb-3">
                        <h5 class="px-2 font-weight-normal">Location</h5>
                        <div class="p-3 d-block rounded" target="_blank" *ngIf="store?.location?.coordinates?.length; else noLocationTemplate">
                            <div class="rounded" style="overflow: hidden">
                                <agm-map class="w-100" style="height: 300px" [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]" [zoom]="14" [gestureHandling]="'greedy'"
                                    [mapDraggable]="false" [maxZoom]="17" [minZoom]="11" [streetViewControl]="false" panControl="false" zoomControl="false">
                                    <agm-marker [longitude]="store?.location?.coordinates[0]" [latitude]="store?.location?.coordinates[1]" (markerClick)="navigateToMap()"></agm-marker>
                                </agm-map>
                            </div>
                        </div>
                        <ng-template #noLocationTemplate>
                            <p class="ml-3" style="font-size: 1.1rem">No location displayed</p>
                        </ng-template>
                    </div>

                    <div id="operatingHours">
                        <h5 class="py-2 font-weight-normal">Operating Hour</h5>
                        <div *ngIf="store?.openingInfoType == 'temporary_closed' || store?.openingInfoType == 'always_open' || (store?.openingInfoType == 'selected_hours' && store?.openingInfo != null)" class="opening-info__container mb-2 pb-2">
                            <table class="ml-3" *ngIf="store?.openingInfoType == 'selected_hours'">
                                <tr *ngFor="let day of store?.openingInfo">
                                    <td style="width: 100px">{{ day.day }}</td>
                                    <td><span class="d-block" *ngFor="let time of day.time">{{ time.openingHour }} - {{ time.closeHour}}</span></td>
                                </tr>
                            </table>
                            <div class="pl-3" *ngIf="store?.openingInfoType == 'temporary_closed'">
                                <span>Temporary Closed</span>
                            </div>
                            <div class="pl-3" *ngIf="store?.openingInfoType == 'always_open'">
                                <span>Always Open</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedNavItem == 'catalogue'">
                    <div id="items" class="category-container mb-3">
                        <mat-select class="form-control category-container__dropdown" [(value)]="selectedCategory" (selectionChange)="getItemsByCategoryId(selectedCategory)">
                            <mat-option [value]="'all'">All</mat-option>
                            <mat-option *ngIf="todaySpecialItems.length" [value]="'todayspecial'">Today Special</mat-option>
                            <mat-option *ngIf="newItems.length" [value]="'new'">New</mat-option>
                            <mat-option *ngIf="discountItems.length" [value]="'discount'">Discount</mat-option>
                            <mat-option [value]="category?._id" *ngFor="let category of categories">{{ category?.name }}</mat-option>
                        </mat-select>
                    </div>
                    <div class="items-container">
                        <ng-container *ngIf="!itemLoading.isRunning() && items?.length; else itemLoadingTemplate">
                            <div *ngIf="items.length" class="w-100 pb-3">
                                <list-item [item]="item" *ngFor="let item of items"></list-item>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="merchant__sidebar">
                    <div class="merchant__message-text mb-4"><span class="fas fa-info-circle merchant__message-text-icon mr-2"></span>Message Seller To Order</div>
                    <button *ngIf="isAuthenticated" class="btn btn-favorite mb-4" (click)="saved ? unsaveStore() : saveStore()" [class.selected]="saved">
                        <span class="fas fa-heart btn-favorite-icon mr-2"></span>
                        {{saved ? 'Added To Favorite' : 'Add To Favorite'}}
                    </button>
                    <button *ngIf="!isAuthenticated" [routerLink]="[]" [queryParams]="{modal: 'login'}" [queryParamsHandling]="'merge'" class="btn btn-favorite mb-4">
                        Login To Add Favorite
                    </button>
                    <div class="merchant__sub-menu mb-4">
                        <div class="p-3 d-flex justify-content-center align-items-center">
                            <div class="border rounded text-center p-3 bg-white" style="height: 134px; width: 134px">
                                <ws-spinner style='line-height: 100px' class="text-center d-block" *ngIf="isQrcodeLoading.isRunning()"></ws-spinner>
                                <div class="qrcode"></div>
                            </div>
                        </div>
                        <p class="merchant__sub-menu-label">Contact Details:</p>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="store?.phone?.length">
                            <span class="merchant__contact-icon fas fa-phone mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let phone of store?.phone">
                                    <a target="_blank" href="tel: {{phone}}">{{ phone }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="store?.email?.length">
                            <span class="merchant__contact-icon fas fa-envelope mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let email of store?.email">
                                    <a target="_blank" href="mailto: {{email}}">{{ email }}</a></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="store?.website?.length">
                            <span class="merchant__contact-icon fas fa-globe mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let website of store?.website">
                                    <a target="_blank" href="{{ website }}">{{ website }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.facebook?.length">
                            <span class="merchant__contact-icon fab fa-facebook-f mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.facebook">
                                    <a target="_blank" href="https://www.facebook.com/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.instagram?.length">
                            <span class="merchant__contact-icon fab fa-instagram mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.instagram">
                                    <a target="_blank" href="https://www.instagram.com/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.twitter?.length">
                            <span class="merchant__contact-icon fab fa-twitter mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.twitter">
                                    <a target="_blank" href="https://mobile.twitter.com/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.whatsapp?.length">
                            <span class="merchant__contact-icon fab fa-whatsapp mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.whatsapp">
                                    <a target="_blank" href="https://wa.me/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.fbmessenger?.length">
                            <span class="merchant__contact-icon fab fa-facebook-messenger mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.fbmessenger">
                                    <a target="_blank" href="http://m.me/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.google?.length">
                            <span class="merchant__contact-icon fab fa-google-plus-g mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.google">
                                    <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.youtube?.length">
                            <span class="merchant__contact-icon fab fa-youtube mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.youtube">
                                    <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.snapchat?.length">
                            <span class="merchant__contact-icon fab fa-snapchat mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.snapchat">
                                    <a target="_blank" href="www.snapchat.com/add/{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.telegram?.length">
                            <span class="merchant__contact-icon fab fa-telegram mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.telegram">
                                    <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.weibo?.length">
                            <span class="merchant__contact-icon fab fa-weibo mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.weibo">
                                    <a target="_blank" href="{{ media?.value }}">{{ media?.value }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3 pb-3 px-3 merchant__contact" *ngIf="medias?.wechat?.length">
                            <span class="merchant__contact-icon fab fa-weixin mr-3"></span>
                            <div class="d-inline-block">
                                <span class="merchant__contact-detail" *ngFor="let media of medias?.wechat">
                                    <span>{{ media?.value }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <h5 class="h6 text-left mb-3">Share via:</h5>
                    <div clsas="d-flex justify-content-center align-items-center">
                        <span class="merchant__share merchant__share-fb mr-3" (click)="shareThroughFB()">
                            <span class="fab fa-facebook-f merchant__share-icon"></span>
                        </span>
                        <a class="merchant__share merchant__share-twitter mr-3" href="{{ shareLinkThroughTwitter }}">
                            <span class="fab fa-twitter merchant__share-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noStoreTemplate" class="text-center d-block w-100" style="padding-top: 30vh;padding-bottom: 30vh"></ws-spinner>
</ng-template>
<ng-template #itemLoadingTemplate>
    <ws-spinner *ngIf="itemLoading.isRunning(); else noItemTemplate" class="text-center d-block w-100" style="padding-top: 10rem; padding-bottom: 10rem;"></ws-spinner>
</ng-template>

<ng-template #noStoreTemplate>
    <h6 *ngIf="!message" class="my-5 py-5 text-center">Store is not found!</h6>
    <h6 *ngIf="message" class="my-5 py-5 text-center">{{ message }}</h6>
</ng-template>
<ng-template #noItemTemplate>
    <h6 class="text-center" style="padding: 6rem 0;">No item</h6>
</ng-template>