:host {
    display: block;
    width: fit-content;
    margin: 0 auto;

    .pagination__previous,
    .pagination__button,
    .pagination__next {
        display: inline-block;
        text-align: center;
        width: 44px;
        padding: .5rem;
        border-radius: 5px;
        background-color: #f7f7f7;
        border: 0;
        margin: 0 .25rem;
        transition: background-color ease .1s;
        &:disabled{
            color: #ccc;
        }
        &.selected{
            color: #ccc;
            background-color: #282C35;
            &:hover{
                background-color: #4d5466;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: #ebecf0;
        }
    }
}