<div *ngIf="!itemLoading.isRunning(); else loadingTemplate">
    <div class="btn-navigation" (click)="openNavigation()">
        <span class="fas fa-bars btn-navigation__icon"></span>
        <span>Menu</span>
    </div>
    <div class="menu-navigation" [class.menu-navigation__open]="isNavigationOpened">
        <span class="fas fa-times menu-navigation__closed" (click)="closeNavigation()"></span>
        <h5 class="menu-navigation-title">Menu</h5>
        <ul class="menu-navigation-list list-unstyled mb-0">
            <li class="menu-navigation-item" *ngIf="allItems.length" [class.selected]="selectedCategory == 'all'" (click)="getItemsByCategoryId('all')">
                All
            </li>
            <li class="menu-navigation-item" *ngIf="newItems.length" [class.selected]="selectedCategory == 'new'" (click)="getItemsByCategoryId('new')">
                New
            </li>
            <li class="menu-navigation-item" *ngIf="discountItems.length" [class.selected]="selectedCategory == 'discount'" (click)="getItemsByCategoryId('discount')">
                Discount
            </li>
            <li class="menu-navigation-item" *ngIf="todaySpecialItems.length" [class.selected]="selectedCategory == 'todayspecial'" (click)="getItemsByCategoryId('todayspecial')">
                Today Special
            </li>
            <li class="menu-navigation-item" [class.selected]="selectedCategory == category?._id" *ngFor="let category of categories" (click)="getItemsByCategoryId(category?._id)">
                {{ category.name }}
            </li>
        </ul>
    </div>
    <div class="w-100 pb-3">
        <menu-item *ngFor="let item of items" [item]="item"></menu-item>
    </div>
</div>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="itemLoading.isRunning(); else noItemTemplate" class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
</ng-template>

<ng-template #noItemTemplate>
    <h6 class="text-center py-5">Item is not found!</h6>
</ng-template>
